@using uLearn.Web.Views.Shared

@model uLearn.Web.Controllers.FeedNotificationsModel

@{
	ViewBag.Title = "Все новости";
}

<div class="container">
	<h2>@ViewBag.Title</h2>

	<div class="notifications-feed">
		@foreach (var notification in Model.ImportantNotifications)
		{
			<div class="notifications__notification @(notification.CreateTime >= Model.ImportantLastViewTimestamp ? "unread" : "")">
				@try
				{
					@Notifications.Notification((dynamic)notification, Model.CourseStorage.FindCourse(notification.CourseId), Html, Url, collapse: false)
				}
				catch (Exception)
				{
					@* Sometimes slide or course can be deleted already. It's not the reason for throwing an error *@
				}
			</div>
		}
	</div>
</div>