@model string

@{
	ViewBag.Title = "Ошибка аутенфикации на Степике";
}

<h2>Что-то пошло не так</h2>
<p>Мы не смогли аутенфицировать вас на Степике. Пожалуйста, <a href="javascript:back()">вернитесь назад</a> и попробуйте ещё раз</p>

<pre style="color: #999">
	@Model
</pre>