.legacy-page .exercise__add-review {
	position: absolute;
	z-index: 4;
	background-color: white;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	width: 520px;
}

.legacy-page .exercise__add-review > * {
	display: block;
	margin-top: 5px;
}

.legacy-page .exercise__add-review > *:first-child {
	margin-top: 0;
	margin-bottom: 5px;
}

.legacy-page .exercise__add-review h4 {
	margin-top: 0;
}

.legacy-page .exercise__add-review .exercise__add-review__comment {
	width: 250px;
	height: 120px;
}

.legacy-page .exercise__add-review.without-comments {
	width: 270px;
}

.legacy-page .exercise__add-review.without-comments .exercise__add-review__top-comments {
	display: none;
}

.legacy-page .exercise__add-review__top-comments {
	padding-left: 10px;
}

.legacy-page .exercise__top-review-comments {
	overflow-y: auto;
	max-height: 180px;
}

.legacy-page .exercise__top-review-comments b {
	display: inline-block;
	margin-left: 15px;
}

.legacy-page .exercise__top-review-comments::-webkit-scrollbar {
	width: 7px;
}

.legacy-page .exercise__top-review-comments::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.legacy-page .exercise__top-review-comments::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.legacy-page .exercise__top-review-comments .comment {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.legacy-page .exercise__top-review-comments .comment:not(.with-remove-link) {
	margin-left: 15px;
}

.legacy-page .exercise__top-review-comments .comment .remove-link {
	visibility: hidden;
	display: inline-block;
	margin-right: 2px;
	color: #f66;
	text-decoration: none;
	font-size: 16px;
}

.legacy-page .exercise__top-review-comments .comment:hover .remove-link {
	visibility: visible;
}

.legacy-page .exercise__top-review-comments .comment .remove-link:hover {
	font-weight: 700;
}

.legacy-page .code-review + .CodeMirror {
	width: 900px;
}

@media (max-width: 1200px) {
	.legacy-page .code-review + .CodeMirror {
		width: 700px;
	}
}

@media (max-width: 992px) {
	.legacy-page .code-review + .CodeMirror {
		width: 480px;
	}
}

@media (max-width: 768px) {
	.legacy-page .code-review + .CodeMirror {
		width: 440px;
	}
}

@media (max-width: 616px) {
	.legacy-page .code-review + .CodeMirror {
		width: 60%;
	}
}

.legacy-page .exercise__reviews {
	float: right;
	width: 250px;
	margin-left: 10px;
	margin-bottom: 25px;

	background-color: #f7f7f7;
	padding-left: 10px;
	padding-right: 10px;
	box-shadow: inset 7px -5px 4px -4px #ccc;
}

@media (max-width: 720px) {
	.legacy-page .exercise__reviews {
		width: 150px;
	}
}

@media (max-width: 616px) {
	.legacy-page .exercise__reviews {
		width: 39%;
		margin-left: 0;
	}
}

.legacy-page .exercise__reviews.empty {
	display: none;
}

.legacy-page .exercise__review {
	margin: 10px 0;
	cursor: pointer;

	background-color: white;
	padding: 10px 5px;
	box-shadow: 0 2px 4px 1px #ccc;
}

.legacy-page .exercise__review.selected {
	margin-left: -15px;
	margin-right: 15px;
	transition: margin-left 0.3s linear, margin-right 0.3s linear;
}

.legacy-page .exercise__review .exercise__review__header,
.legacy-page .exercise__review .exercise__review__comment__header {
	margin: -2px -5px;
	padding: 0 5px;
	color: #aaa;
	font-size: 9pt;
}

.legacy-page .exercise__review .exercise__review__comment__header {
	margin-top: 5px;
}

.legacy-page .exercise__review .exercise__review__header .media-left,
.legacy-page .exercise__review .exercise__review__comment__header .media-left {
	padding-right: 7px;
}

.legacy-page .exercise__review .exercise__review__header.with-timestamp .media,
.legacy-page .exercise__review .exercise__review__comment__header.with-timestamp .media {
	margin-bottom: -7px;
}

.legacy-page .exercise__review .exercise__review__header .media-body,
.legacy-page .exercise__review .exercise__review__comment__header .media-body {
	line-height: 14px;
	position: relative;
	top: -2px;
}

.legacy-page .exercise__review .exercise__review__header.without-timestamp .media-body,
.legacy-page .exercise__review .exercise__review__comment__header.without-timestamp .media-body {
	padding-top: 7px;
}

.legacy-page .exercise__review .exercise__review__comment__header .timestamp {
	font-size: 8pt;
}

.legacy-page .exercise__review .exercise__review__header .author,
.legacy-page .exercise__review .exercise__review__comment__header .author {
	color: #666;
}

.legacy-page .exercise__review .exercise__delete-review:hover,
.legacy-page .exercise__review .exercise__delete-review-comment:hover {
	color: black;
}

.legacy-page .exercise__review .exercise__review__comment {
	padding: 6px 0 4px;
	line-height: 17px;
	text-overflow: ellipsis;
	overflow: hidden;
}

.legacy-page .exercise__review .exercise__review__comment pre {
	background-color: #ffeeee;
	border-color: #fdd;
}

.legacy-page .exercise__review .exercise__review__comment .inline-pre {
	background-color: #ffeeee;
}

.legacy-page .exercise__review .exercise__review__comment pre::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

.legacy-page .exercise__review .exercise__review__comment pre::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(255,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.legacy-page .exercise__review .exercise__review__comment pre::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f6dddd;
	-webkit-box-shadow: inset 0 0 6px rgba(100,0,0,0.5);
}

.legacy-page .exercise__review__reply-form {
	margin-top: 3px;
}

.legacy-page .exercise__review__reply-form input[type="text"] {
	width: 100%;
	height: 25px;
	padding: 0 4px;
}

.legacy-page .exercise__review__reply-form textarea {
	resize: none;
	width: 100%;
	padding: 0 4px;
	display: none;
	min-height: 48px;
}

.legacy-page .exercise__review__reply-footer {
	display: none;
}

.legacy-page .exercise__code__reviewed-fragment {
	background-color: #fdd5d5;
}

.legacy-page .exercise__code__reviewed-fragment__selected {
	background-color: #f7b7b7;
}