.legacy-page .courses-versions {

}

.legacy-page .courses-versions > a {
	display: block;
}

.legacy-page .courses-versions .courses-versions__version {
	display: flex;
	margin-bottom: 20px;
	width: 500px;
}

.legacy-page .courses-versions .courses-versions__version:not(.current) {
	border: 1px solid #ccc;
	border-radius: 5px;
}

.legacy-page .courses-versions .courses-versions__version:not(.current):hover {
	cursor: pointer;
	background-color: #eef;
}

.legacy-page .courses-versions .courses-versions__version > div,
.legacy-page .courses-versions .courses-versions__version > a > div  {
	display: inline-block;
}

.legacy-page .courses-versions a.current {
	pointer-events: none;
	cursor: text;
}

.legacy-page .courses-versions .courses-versions__version .glyphicon.glyphicon-ok {
	margin-right: 10px;
	color: green;
}

.legacy-page .courses-versions .courses-versions__version a {
	padding: 7px 5px;
	color: inherit;
	text-decoration: none;
}

.legacy-page .courses-versions .courses-versions__version form {
	display: inline-block;
	padding: 5px 5px;
}

.legacy-page .course-loading-error {
	margin-bottom: 20px;
	max-width: 800px;
}

.legacy-page .courses-versions .courses-versions__link {
	width: inherit;
}