.course-header {
    background-color: #6f5499;
    color: white;
    padding: 30px 15px;
    margin-bottom: 30px;
}

.slide-nav {
    margin-top: 30px;
}

.slide-nav-link {
    margin-right: 30px;
}

.container {
    max-width: 800px;
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    line-height: 1.3em;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.CodeMirror-scroll {
    overflow-y: hidden;
    overflow-x: auto;
    height: auto;
}

.nav-arrow {
    margin:0;
    width:50%;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-size:xx-large;
    color: lightblue;
    padding:10px;
}

.nav-arrow:hover {
    text-decoration: none;
    color: #002240;
    background-color: lightblue;
}

.nav-left {
    float:left;
}

.nav-right {
    float:right;
}