.modal-body > h3:first-child,
.modal-body h3.first-header {
	margin-top: 0;
}

.modal-body .tab-pane.fade.active {
	opacity: 1;
}

.modal-title {
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 0.2px;
}

.modal-header .close {
	font-size: 26px;
	font-weight: 400;
	margin-bottom: -15px;
}

.modal .form-control {
	max-width: none;
}

/* Modal header tabs*/
.modal-header__tabs,
ul.modal-header__tabs {
	margin: -14px 0 -15px;
	padding-left: 0;
	font-size: 16px;
}

.modal-header__tabs li {
	display: inline-block;
	list-style: none;
	height: 100%;
	margin-right: 15px;
}

.modal-header__tabs li a {
	display: inline-block;
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 3px;
	padding-right: 3px;
}

.modal-header__tabs li a:hover,
.modal-header__tabs li a:active,
.modal-header__tabs li a:focus {
	text-decoration: none;
	border-bottom-color: #23527c
}

.modal-header__tabs li.active a {
	pointer-events: none;
	color: black;
	border-bottom-width: 0;
	font-weight: 600;
}

.modal-body .tab-pane {
	display: none;
}

.modal-body .tab-pane.active {
	display: initial;
}