@media (max-width: 768px) {
	.notifications__icon-link {
		margin-right: 19px;
	}
}

.notifications__mobile-nav {
	margin-bottom: 0;
	margin-top: 7px;
}

.notifications__icon {
	font-size: 18px;
}

.notifications__dropdown {
	width: 300px;
	padding-top: 0;
	padding-bottom: 0;
}

.notifications__dropdown.notifications__mobile-dropdown {
	width: auto;
	background-color: white;
	list-style: none;
	padding: 5px 0;
	margin-bottom: 0;
	border-bottom: 1px solid #bbb;
}

.notifications__dropdown.notifications__mobile-dropdown.collapse:not(.in) {
	display: none !important;
}

@media (min-width: 768px) {  
	.notifications__dropdown.notifications__mobile-dropdown.visible-xs {
		display: none !important;
	}
}

.notifications__feed-switcher {
	white-space: nowrap;
	display: flex;
}

.notifications__feed-switcher a {
	display: inline-block;
	box-sizing: border-box;
	font-size: 16px;
	padding: 10px;
	flex-grow: 1;
	text-align: center;
	white-space: normal;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	color: #337ab7;
	font-weight: 600;
}

.notifications__feed-switcher a.active {
	color: #111;
	border-bottom-width: 0;
	pointer-events: none;
}

.notifications__feed-switcher a .label {
	margin-left: 5px;
	position: relative;
	top: -1px;
}

.notifications__feed-switcher a.active .label {
	background-color: #666;
}

.notifications__feed {
	display: none;
}

.notifications__feed.active {
	display: block;
}

.notifications__feed-switcher a:hover,
.notifications__feed-switcher a:active,
.notifications__feed-switcher a:focus {
	text-decoration: none;
}

.notifications__feed-switcher a:not(.active):hover {
	background-color: #f6f6f6;
}

.notifications__notifications-wrapper {
	max-height: 300px;
	overflow-y: auto;
}
	
.notifications__counter {
	position: absolute;
	font-size: 10px;
	top: 3px;
	left: 25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fafffa;
	text-align: center;
	border-radius: 7px;
	color: #393;
	border: 1px solid rgba(50, 100, 50, 0.7);
}

.notifications__counter.collapse {
	display: none;
}
	
@media (min-width: 900px) {
	.notifications__dropdown {
		width: 500px;
	}
}

.notifications__notifications-wrapper::-webkit-scrollbar {
	width: 7px;
}

.notifications__notifications-wrapper::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.notifications__notifications-wrapper::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #f6f6f6;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.notifications__notification,
.notifications__info {
	padding: 7px 15px;
	position: relative;
}

.notifications__info {
	color: #888;
}

.notifications__notification.unread {
	background-color: #e8fff3;
}

.notifications__notification:hover {
	background-color: #f6f6f6;
	cursor: pointer;
}

.notifications__notification.unread:hover {
	background-color: #e0f6f6;
}


.notifications__notification__footer {
	color: #bbb;
}

.notifications__notification__user {
	font-weight: 600;
}

.notifications__notification__score {
	font-weight: 600;
}

.notifications__notification__subheader {
	color: #bbb;
	font-weight: normal;
}

.notifications__notification b {
	font-weight: 600;
}

.notifications__comment-notification__cite {
	font-style: italic;
}

.notifications__comment-notification__text {
	_font-weight: 600;
}

.notifications__comment-notification__text pre,
.notifications__comment-notification__text .inline-pre {
	background-color: #f9f9fd;
	border-color: #e6e6e9;
}

.notifications__comment-notification__text pre {
	margin: 10px 0;
}

.notifications__notification.unread .notifications__comment-notification__text pre,
.notifications__notification.unread .notifications__comment-notification__text .inline-pre {
	background-color: #dbf3e7;
	border-color: #c1ead6;
}


.notifications__notification:hover .notifications__comment-notification__text pre,
.notifications__notification:hover .notifications__comment-notification__text .inline-pre {
	background-color: transparent;
}

.notifications__all-notifications-link {
	text-align: center;
	padding: 0px;
	background-color: white;
	color: #336;
	border-top: 1px solid #eee;
	font-weight: 600;
}

.notifications__all-notifications-link:hover {
	background-color: #f6f6f6;
}
	
.notifications__all-notifications-link a {
	display: inline-block;
	width: 100%;
	padding: 6px 0;
	text-decoration: none;
}

.notifications__all-notifications-link a:hover {
	text-decoration: none;
}

/* Notifications feed */
.notifications-feed .notifications__notification {
	padding-left: 0;
}

.notifications-feed .notifications__notification:hover {
	background-color: initial;
}