.notifications__icon-link {
}

@media (max-width: 768px) {
	.notifications__icon-link {
		margin-right: 19px;
	}
}

.notifications__icon {
	font-size: 18px;
}

.notifications__dropdown {
	width: 300px;
	max-height: 300px;
	overflow-y: auto;
}

.notifications__dropdown.notifications__mobile-dropdown {
	width: auto;
	background-color: white;
	list-style: none;
	padding: 5px 0;
	margin-bottom: 0;
}

.notifications__dropdown.notifications__mobile-dropdown.collapse:not(.in) {
	display: none !important;
}

@media (min-width: 768px) {  
	.notifications__dropdown.notifications__mobile-dropdown.visible-xs {
		display: none !important;
	}
}
	
.notifications__counter {
	position: absolute;
	font-size: 10px;
	top: 3px;
	left: 25px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #fafffa;
	text-align: center;
	border-radius: 7px;
	color: #393;
	border: 1px solid rgba(50, 100, 50, 0.7);
}

.notifications__counter.collapse {
	display: none;
}
	
@media (min-width: 900px) {
	.notifications__dropdown {
		width: 500px;
	}
}

.notifications__dropdown::-webkit-scrollbar {
	width: 7px;
}
 
.notifications__dropdown::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.notifications__dropdown::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background: #eee;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.notifications__notification,
.notifications__info {
	padding: 7px 15px;
}

.notifications__notification.unread {
	background-color: #e3ffe3;
}

.notifications__notification:hover {
	background-color: #f8f8ff;
	cursor: pointer;
}
	
.notifications__notification__header,
.notifications__notification__footer {
	font-size: 12px;
}

.notifications__notification__header {
	margin-top: 3px;
}
.notifications__notification__footer {
	color: #bbb;
}

.notifications__notification__user {
	font-weight: bold;
	color: #060;
}

.notifications__comment-notification__cite {
	font-style: italic;
}

.notifications__comment-notification__text {
	_font-weight: bold;
}