body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.input-group input {
	max-width: initial;
}

textarea.form-control {
	max-width: none;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-errors ul {
    padding-left: 0;
    list-style-type: none;
}

.validation-summary-valid {
    display: none;
}

.label-as-badge {
    border-radius: 1em;
}

.label-as-badge.label-primary {
	border-color: #428bca;
}
.label-as-badge.label-success {
	border-color: #5cb85c;
}
.label-as-badge.label-default {
	border-color: #999999;
}


.navbar-inverse {
	background-color: #32383F;
	border-color: #32383F;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
	color: #D8D8D8;
}

.navbar .dropdown .glyphicon {
	height: 20px;
}

@media (max-width: 767px) {
	h1 {
		font-size: 25px;
	}

	h1 small {
		font-size: 21px;
	}

	h2 {
		font-size: 19px;
	}

	h2 small {
		font-size: 15px;
	}
}

h1 > a:hover,
h1 > a:active,
h1 > a:focus,
h2 > a:hover,
h2 > a:active,
h2 > a:focus {
	text-decoration: none;
	border-bottom: 1px solid;
}

a.no-underline {
	color: inherit;
}

a.no-underline:hover,
a.no-underline:active,
a.no-underline:focus {
	text-decoration: none;
}

.dropdown-menu .dropdown-header > a {
	display: initial;
	color: #428bca;
}

.dropdown-menu .dropdown-header > a .glyphicon {
	font-size: 80%;
	margin-left: 5px;
}

.dropdown-menu .dropdown-header > a:hover,
.dropdown-menu .dropdown-header > a:focus,
.dropdown-menu .dropdown-header > a:active {
	height: auto;
	background-color: initial;
	color: #2a6496;
	text-decoration: underline;
}

.vspace-20 {
	display: inline-block;
	height: 20px;
}

.ml10 { margin-left: 10px; }
.mt10 { margin-top: 10px; }

.hidden-xs-inline { display: inline !important; }
.hidden-xs-inline-block { display: inline-block !important; }
.visible-xs-inline { display: none !important; }

@media (min-width: 768px) {
	.sm-ml10 { margin-left: 10px; }
	.sm-mt10 { margin-top: 10px; }
}

@media (max-width: 767px) {
	.hidden-xs-inline { display: none !important; }
	.hidden-xs-inline-block { display: none !important; }
	.visible-xs-inline { display: inline-block !important; }
}

footer {
	margin-top: 60px;
	color: #888;
}

footer p {
	margin: 3px 0;
}

footer:hover {
	color: #111;
}