
/*#region js-classes */
/* ReSharper disable DeclarationIsEmpty */
/* ReSharper disable Html.CssClassElementsNotFound */
.legacy-page .quiz {
}

.legacy-page .true {
}


.legacy-page .false {
}

.legacy-page .answered {
}

.legacy-page .quiz-block-mark {
}

.legacy-page .quiz-block-input {
}

.legacy-page .quiz-block-input label {
	font-weight: normal;
}

.legacy-page .quiz-block-input .load-content {
}

.legacy-page .visible-on-parent-hover {
	display: none;
}

*:hover > .visible-on-parent-hover {
	display: initial;
}

.legacy-page .cursor-pointer {
	cursor: pointer;
}

.legacy-page p {
	margin: 6px 0;
}

.legacy-page .alert > p {
	margin: 0;
}

.legacy-page .breathing-page-header {
	margin: 35px -3px 18px 0;
}

.legacy-page .internal-page-link,
.legacy-page .internal-page-link:hover,
.legacy-page .internal-page-link:focus,
.legacy-page .internal-page-link:active {
	text-decoration: none;
	border-bottom: 1px dashed rgba(66, 139, 202, 0.62);
}

.legacy-page .internal-page-link:hover,
.legacy-page .internal-page-link:focus {
	border-bottom-color: #2a6496;
}

.legacy-page .internal-page-link.active {
	border-bottom: none;
	font-weight: bold;
	pointer-events: none;
}

.legacy-page .internal-page-link.active:not(.text-muted) {
	color: black;
}

.legacy-page .internal-page-menu a {
	margin: 0 5px;
}

.legacy-page .inline-select {
	border-width: 0;
	padding: 0;
	box-shadow: inset 0px 0px;
	border-bottom: 1px dashed #2a6496;
	margin: 0;
	height: auto;
	cursor: pointer;
	color: #2a6496;
	max-width: none;
}

.legacy-page .inline-select:focus {
	outline: none;
}

.legacy-page .min-width-200 { width: 200px; min-width: 200px; }
.legacy-page .min-width-300 { width: 300px; min-width: 300px; }
.legacy-page .min-width-400 { width: 400px; min-width: 400px; }
.legacy-page .max-width-200 { width: 200px; max-width: 200px; }
.legacy-page .max-width-300 { width: 300px; max-width: 300px; }
.legacy-page .max-width-400 { width: 400px; max-width: 400px; }

.legacy-page .clipboard-link {
	cursor: pointer;
}

.legacy-page .ib {
	display: inline-block;
}

.legacy-page .popover-trigger {
	text-decoration: none;
	border-bottom: 1px dashed black;
	border-bottom-color: inherit;
}

.legacy-page .popover-trigger:hover,
.legacy-page .popover-trigger:focus,
.legacy-page .popover-trigger:active {
	text-decoration: none;
}

.legacy-page .run-style-error, .legacy-page .run-service-error, .legacy-page .run-compile-error, .legacy-page .run-success, .legacy-page .run-wa, .legacy-page .run-wa-no-diff, .legacy-page .run-details {
}

.legacy-page .code, .legacy-page .code-exercise {
}

.legacy-page .expandable-code {
	position: relative;
}

.legacy-page .expandable-code.collapsed:after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 60px;
	background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), white);
	z-index: 4;
}

.legacy-page .revealed .expandable-code.collapsed:after {
	background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), rgb(231, 241, 255));
}

.legacy-page .revealed .expandable-code.collapsed .CodeMirror {
	margin-bottom: 0;
}

.legacy-page .expandable-code__button-wrapper {
	position: absolute;
	width: 100%;
	text-align: center;
	bottom: 5px;
	z-index: 5;
}

.legacy-page .expandable-code__button {
	display: inline-block;
	background-color: #6e8aff;
	color: white;
	padding: 3px 15px;
	border: none;
	border-radius: 15px;
	box-shadow: 0px 4px 10px 1px #d8d3f3;
}

.legacy-page .expandable-code__button:hover {
	background-color: #4565ed;
}

.legacy-page .expandable-code__button:hover,
.legacy-page .expandable-code__button:focus,
.legacy-page .expandable-code__button:active {
	outline: none;
}

.legacy-page .revealed {
	background-color: #e7f1ff;
	padding: 20px;
	color: #000 !important;
	margin-left: -20px;
	margin-right: -20px;
}

.legacy-page .revealed .CodeMirror {
	background-color: #e7f1ff;
}

.legacy-page .revealed .CodeMirror .CodeMirror-gutters {
	background-color: #e7f1ff;
	color: #333;
}

.legacy-page .revealed__description {
	font-style: italic;
	margin-bottom: 15px;
}

.legacy-page .revealed code,
.legacy-page .revealed pre:not(.CodeMirror-line),
.legacy-page .revealed .inline-pre {
	background-color: #e0edff;
}

.legacy-page .revealed h2 {
	margin-bottom: 20px;
}

.legacy-page .revealed h3 {
	margin-bottom: 20px;
	line-height: 20px;
}

.legacy-page .revealed p:last-child {
	margin: 0;
}

.legacy-page p + .revealed {
	margin-top: 20px;
}

.legacy-page .statistic-container {
}

.legacy-page .with-long-tooltip + .tooltip .tooltip-inner {
	width: 350px;
	max-width: 350px;
}

.legacy-page .banner {
	margin-top: 32px;
}

.legacy-page .bootstrap-select.without-backdrop .dropdown-backdrop {
	display: none;
}

.legacy-page .selectpicker.form-control[multiple="true"] option {
	margin-top: 5px;
	margin-bottom: 5px;
}

.legacy-page .markdown-formatting-helper {
	font-size: 12px;
	color: #555;
	vertical-align: top;
}

.legacy-page .markdown-formatting-helper .fa {
	vertical-align: text-top;
}

/* ReSharper restore Html.CssClassElementsNotFound */
/* ReSharper restore DeclarationIsEmpty */
/*#endregion */

.legacy-page .container .jumbotron {
	margin-top: 40px;
}

.legacy-page .jumbotron-logo {
	float: left;
	margin: -20px 30px 0;
}

.legacy-page .slide-container .container,
.legacy-page .main-page .container {
	max-width: 864px;
}

.legacy-page .slide {
	padding-bottom: 10px;
}

.legacy-page .slide h1 {
	margin-bottom: 20px;
}

.legacy-page .slide .slide__title {
	margin-right: 20px;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.legacy-page .CodeMirror {
	height: auto;
	margin-bottom: 15px;
	line-height: 1.3em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.legacy-page .CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	height: auto;
}

.legacy-page .cm-s-cobalt .CodeMirror-matchingbracket {
	outline-color: rgb(0, 100, 100) !important;
	outline-color: rgba(0, 200, 200, 0.5) !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.legacy-page .sphere-engine-tm {
	margin: 0 0 -20px 0;
	text-align: right;
	font-size: small;
}

.legacy-page .run-result {
	display: none;
}

.legacy-page .diff-table {
	width: 100%;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.legacy-page .run-verdict {
	height: 46px;
	line-height: 46px;
	width: 100%;
	text-align: center;
	font-size: x-large;
	color: white;
	margin-top: 10px;
}

.legacy-page .no-rounds {
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.legacy-page .units-list {
	list-style-type: none;
}

.legacy-page .units-list-item {
	padding: 0 0.2em 0 0.1em;
}

.legacy-page .units-list-item-text {
	font-size: 1.3em;
}

.legacy-page .slides-list {
	font-weight: normal;
	padding-left: 0;
	margin-top: 0.5em;
}

.legacy-page .units-list-item > a:before,
.legacy-page .score {
	font-weight: lighter;
	font-size: 0.9em;
	color: #838383;
}

.legacy-page .slide .score {
	white-space: nowrap;
}

.legacy-page .units-list-item > a:before {
	content: attr(data-score);
	float: right;
	padding-left: 1em;
	padding-top: 0.1em;
}

.legacy-page .nav .group-statistics-link a {
	text-decoration: none;
	display: inline-block;
	padding: 0;
	margin-left: 18px;
	margin-bottom: 15px;
}

.legacy-page .nav .group-statistics-link a:hover,
.legacy-page .nav .group-statistics-link a:active,
.legacy-page .nav .group-statistics-link a:focus {
	background-color: initial;
	text-decoration: underline;
}

.legacy-page .nav .group-statistics-link a .fa {
	margin-right: 5px;
}

.legacy-page .nav .units-list-item .slides-list a:hover,
.legacy-page .nav .units-list-item .slides-list a:active,
.legacy-page .nav .units-list-item .slides-list a:focus {
	text-decoration: none;
}

.legacy-page .nav .units-list-item .slides-list a:not(.selected):hover .underline-on-parent-hover,
.legacy-page .nav .units-list-item .slides-list a:not(.selected):active .underline-on-parent-hover,
.legacy-page .nav .units-list-item .slides-list a:not(.selected):focus .underline-on-parent-hover {
	text-decoration: underline;
}

.legacy-page #nav_arrows {
	margin-top: 10px;
}

.legacy-page .next_button,
.legacy-page #prev_slide_button {
	height: 40px;
}

.legacy-page .right {
	margin-left: auto;
}

.legacy-page .slide-list-item {
	list-style-type: none;
	padding: 5px 0.5em 5px;
	display: flex;
}

.legacy-page .slide-list-item.clickable {
	cursor: pointer;
	color: #428bca;
}

.legacy-page .selected .slide-list-item {
	background-color: #f5f5f5;
	list-style-type: none;
	cursor: auto;
	color: #428bca;
}

.legacy-page .selected .slide-list-item a {
	pointer-events: none;
}

.legacy-page .selected  .slide-list-item *:not(.navbar-label-danger) {
	color: #444480;
}

@media (min-width: 768px) {
	.legacy-page .side-bar.navbar-nav {
		width: 350px;
		margin: 0;
		padding-top: 20px;
		max-height: none !important;
		display: inline-block !important;
		position: absolute;
	}
}

.legacy-page .slide-container {
	display: inline-block !important;
	margin-top: 10px;
	width: 100%;
	padding-left: 10px;
}

@media (min-width: 768px) {
	.legacy-page .slide-container {
		padding-left: 350px;
	}
}

.legacy-page .ask-bar {
	max-width: none;
	width: 100%;
	margin-bottom: 15px;
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

.legacy-page .likes-counter {
	margin-left: 0;
}

.legacy-page .rate-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.legacy-page .table-header {
	color: #428bca;
}

.legacy-page .like-left-location {
	margin-right: 10px;
	float: left;
}

.legacy-page .navbar-label {
	float: left;
	margin-right: 8px;
	width: 14px;
	min-height: 1px;
}

.legacy-page .navbar-label-privileged {
	color: #333;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.legacy-page .navbar-label-default {
	color: lightgray;
}

.legacy-page .navbar-label-success {
	color: #7dec7d;
}

.legacy-page .navbar-label-danger {
	color: #f15151;
}

.legacy-page .navbar-label-link {
	color: #0d395f;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.legacy-page .block-next {
	color: gray;
	background-color: aliceblue;
	margin-left: 0 !important;
}

.legacy-page .solution-control {
	width: 100%;
	margin-top: -15px;
	margin-left: 0 !important;
}

.legacy-page .reset-btn {
	width: 25%;
	margin-left: 0 !important;
	float: right !important;
}

.legacy-page .hints-btn {
	width: 25%;
	margin-left: 0 !important;
}

.legacy-page .giveup-btn {
	width: 25%;
	margin-left: 0 !important;
}

.legacy-page .run-solution-button {
	width: 25%;
	margin-bottom: 10px;
	margin-left: 0 !important;
}

.legacy-page .exercise-controls_button-long {
	width: 50% !important;
}

.legacy-page .try-again-button,
.legacy-page .show-output-button {
	width: 25%;
}


.legacy-page .ctrl-group {
	margin-left: 0 !important;
}

.legacy-page .full-width {
	width: 100%;
}

.legacy-page .quiz-submit-btn {
	margin-bottom: 5px;
}

.legacy-page .quiz-button {
	margin-top: 15px;
}

.legacy-page .quiz-status,
.legacy-page .exercise-status,
.legacy-page .exercise-loading,
.legacy-page .exercise-block-status {
	background-color: #d9edf7;
	padding: 11px 18px;
	color: #333;
	font-size: 13pt;
	margin-bottom: 30px;
}

.legacy-page .exercise-block-status,
.legacy-page .exercise-loading {
	margin-bottom: 0;
	margin-top: 10px;
}

.legacy-page .exercise-block-status {
	box-shadow: inset 0 -10px 10px -10px #9cbdce;
}

.legacy-page .exercise-block-status.wrong {
	background-color: #fd989c;
}

.legacy-page .exercise-block-status.waiting {
	background-color: #fdfa98;
}

.legacy-page .quiz__remains {
	margin-left: 10px;
}

.legacy-page .no-display {
	display: none;
}

.legacy-page .quiz-block__is-question {
	margin-top: 10px;
	margin-bottom: 40px;
}

.legacy-page .quiz__blocks .quiz-block__is-question:last-child {
	margin-bottom: 15px;
}

.legacy-page .quiz-block__is-question__title {
	margin-bottom: 15px;
}

@media (min-width: 1300px) {
	.legacy-page .quiz-block__is-question__title.with-mark {
	}

	.legacy-page .quiz-block__is-question__title .glyphicon {
		margin-right: 5px;
		top: 0;
		left: -27px;
	}

	.legacy-page .quiz-block__is-question__title.with-mark .quiz-block__text {
		margin-left: -27px;
	}
}

.legacy-page .quiz-block__is-question__title > * {
	vertical-align: middle;
}

.legacy-page .hide-side-bar-button {
	float: left;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.legacy-page .falseQuizAnswer {
	background-color: lightcoral !important;
}

.legacy-page .rightQuizAnswer {
	background-color: lightgreen !important;
}

.legacy-page .manualQuizAnswer {
	background-color: lightblue !important;
}

.legacy-page .quiz-mistakes-explanation {
	margin-left: -20px;
	margin-top: 10px;
	color: black;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.legacy-page .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.legacy-page .video-container iframe,
.legacy-page .video-container object,
.legacy-page .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.legacy-page .video-annotations {
	margin: 20px 0;
}

.legacy-page .suggest-video-annotations {
	margin-bottom: 25px;
}

.legacy-page .unit-statistic-ref {
	color: yellowgreen;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.legacy-page .green-stat {
	background-color: lightgreen !important;
}

.legacy-page .red-stat {
	background-color: lightcoral !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.legacy-page .wide-container {
	margin: 0 50px;
}

@media (max-width: 768px) {
	.legacy-page .wide-container{
		margin: 0 10px;
	}
}

.legacy-page .table.table-autowidth {
	width: auto;
}

.legacy-page div.tex {
	font-size: 1.2em;
	padding-bottom: 1em;
}

.legacy-page .course-name {
	font-size: 1.56em;
	font-weight: bold;
}

.legacy-page .course-name > a:hover {
	background-color: white !important;
	color: #428BCA;
}

.legacy-page .submitions-item {
	cursor: pointer;
}

.legacy-page table.diff {
	border-collapse: collapse;
	border: 1px solid lightblue /*darkgray*/;
	white-space: pre-wrap;
	table-layout: fixed;
	width: 100%;
}

.legacy-page table.diff tbody {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.legacy-page table.diff thead th:first-child {
	width: 30px;
}

.legacy-page table.diff th {
	background: aliceblue;
	font-weight: normal;
	border: 1px solid lightblue /*#BBC*/;
	text-align: center !important;
}

.legacy-page table.diff tbody th {
	font-size: 11px;
	color: #428bca /*#886*/;
}

.legacy-page table.diff tbody td {
	padding: 0 .4em;
	padding-top: .4em;
	vertical-align: top;
	border-right: 1px solid aliceblue;
}

.legacy-page table.diff .different:nth-child(odd) td {
	background-color: #E99;
}

.legacy-page table.diff .different:nth-child(even) td {
	background-color: #FAA;
}

.legacy-page table.diff .equals:nth-child(odd) td {
	background-color: #9E9;
}

.legacy-page table.diff .equals:nth-child(even) td {
	background-color: #AFA;
}

.legacy-page .expand-slide-diff-link {
	display: inline-block;
	margin-left: 20px;
	font-size: 13px;
	color: #999;
	border-color: #ccc;
}

.legacy-page .slide-diff-table {
	margin-top: 5px;
}

body.lti-component {
	padding-top: 0;
	margin-top: 0;
	overflow-x: hidden;
}

.legacy-page li.li-danger {
	background: #f5d8d6;
}

.legacy-page li.li-warning {
	background: #fbe9d0;
}

.legacy-page li.li-info {
	background: #d5eff6;
}

.legacy-page li.li-info > a:hover,
.legacy-page li.li-info > a:focus {
	background-color: #b9e4ef;
}

.legacy-page li.li-success {
	background: #dbf0db;
}

/* User avatars */
/* Don't add .legacy-page in this block, because avatars are used in notifications dropdown */
.user__avatar {
	width: 54px;
	height: 54px;
	display: inline-block;
	border-radius: 4px;
}

.user__avatar.small {
	width: 24px;
	height: 24px;
}

.user__avatar.xsmall {
	width: 18px;
	height: 18px;
}

.user__avatar.large {
	width: 100px;
	height: 100px;
}

.user__avatar.user__avatar__placeholder {
	color: white;
	font-size: 25pt;
	text-align: center;
	padding-top: 3px;
}

.user__avatar.user__avatar__placeholder.small {
	font-size: 12pt;
	padding-top: 2px;
}

.user__avatar.user__avatar__placeholder.xsmall {
	font-size: 9pt;
	padding-top: 1px;
}

.user__avatar.user__avatar__placeholder.large {
	font-size: 40pt;
	padding-top: 10px;
}

/* Account page */
.legacy-page #externalLogins #socialLoginList .ph-btn {
	padding: 6px 40px 5px;
	display: inline-block;
	width: auto;
	font-weight: normal;
	font-size: 14px;
}

.legacy-page #externalLogins #socialLoginList .btn {
	margin-bottom: 5px;
}

.legacy-page #externalLogins table td {
	border-top-width: 0;
	padding: 0 0 10px 0;
	vertical-align: middle;
}

/* Strike line */
.legacy-page .strike-line {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin-bottom: 10px;
}

.legacy-page .strike-line > span {
	position: relative;
	display: inline-block;
}

.legacy-page .strike-line > span:before,
.legacy-page .strike-line > span:after {
	content: "";
	position: absolute;
	top: 50%;
	width: 9999px;
	height: 1px;
}

.legacy-page .strike-line.grey > span:before,
.legacy-page .strike-line.grey > span:after {
	background-color: #ccc;
}
.legacy-page .strike-line.grey > span {
	color: #999;
}

.legacy-page .strike-line > span:before {
	right: 100%;
	margin-right: 10px;
}

.legacy-page .strike-line > span:after {
	left: 100%;
	margin-left: 10px;
}

.legacy-page .quiz-block__text {
	margin-right: 10px;
}

.legacy-page .quiz-block__score {
	white-space: nowrap;
	color: #999;
	font-weight: 400;
}

.legacy-page .quiz-block-mark .quiz {
	margin-bottom: 3px;
}

.legacy-page .quiz label.right-quiz .glyphicon {
	margin-left: 5px;
}

.legacy-page .quiz .quiz__explanation {
	margin-left: 5px;
	margin-top: 0;
}

.legacy-page .quiz__explanation__correct,
.legacy-page .quiz__statistics__correct {
	color: green;
}

.legacy-page .quiz__explanation__incorrect,
.legacy-page .quiz__statistics__incorrect {
	color: red;
}

.legacy-page .quiz__statistics {
	position: absolute;
	left: -47px;
	text-align: right;
	width: 40px;
	font-size: 11px;
	line-height: 21px;
	font-weight: 600;
	display: none;
}

.legacy-page .quiz-block__is-question:hover .quiz__statistics {
	display: initial;
}

@media (max-width: 1300px) {
	.legacy-page .quiz__statistics {
		left: auto;
		right: 20px;
		text-align: left;
		line-height: 26px;
	}

	.legacy-page .quiz .quiz__statistics + input + label {
		margin-right: 60px;
	}
}
/* Ordering quizes */
.legacy-page .quiz-block-ordering ul {
	list-style: none; padding-left: 0;
}

.legacy-page .quiz-block-ordering .quiz-block-ordering__item {
	background-color: white;
	border: 1px solid #bbb;
	border-radius: 4px;
	padding: 8px 15px;
	margin-bottom: 10px;
}

.legacy-page .quiz-block-ordering:not(.not-movable) .quiz-block-ordering__item {
	cursor: n-resize;
}

.legacy-page .quiz-block-ordering.not-movable .quiz-block-ordering__item {
	background-color: #eee;
}

.legacy-page .quiz-block-ordering .quiz-block-ordering__item:first-child {
	margin-left: 15px;
}

.legacy-page .quiz-block-ordering .quiz-block-ordering__item .quiz-block-ordering__item__icons {
	float: right;
	margin-left: 5px;
	cursor: pointer;
	color: #69c;

	height: 100%;
	position: absolute;
	right: 6px;
	top: 9px;
}

.legacy-page .quiz-block-ordering:not(.not-movable) .quiz-block-ordering__item .text {
	margin-right: 35px;
}

.legacy-page .quiz-block-ordering li.ui-sortable-placeholder {
	/* margin-bottom: 10px; */
}

.legacy-page .quiz-block-ordering ul li:first-child .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon-arrow-up{visibility:hidden}
.legacy-page .quiz-block-ordering ul li:last-child .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon-arrow-down{visibility:hidden}
.legacy-page .quiz-block-ordering .quiz-block-ordering__item .quiz-block-ordering__item__icons .glyphicon:hover{color:#369}

/* Matching quizes */
.legacy-page .quiz-block-matching {
	/* margin-top: -8px; */
}

.legacy-page .quiz-block-matching .quiz-block-matching__description {
	margin-bottom: 14px;
}

.legacy-page .quiz-block-matching ul {
	list-style: none;
	padding-left: 15px;
}

.legacy-page .quiz-block-matching .quiz-block-matching__fixed-item,
.legacy-page .quiz-block-matching .quiz-block-matching__movable-item {
	background-color: white;
	border-radius: 4px;
	padding: 8px 15px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
}

.legacy-page .quiz-block-matching .quiz-block-matching__movable-item {
	z-index: 2;
	border-color: #58b;
	background-color: #69c;
	color: white;
}

.legacy-page .quiz-block-matching:not(.not-movable) .quiz-block-matching__movable-item {
	cursor: move;
}

.legacy-page .quiz-block-matching.not-movable .quiz-block-matching__item > * {
	background-color: #eee;
	border-color: #bbb;
	border-style: solid;
}

.legacy-page .quiz-block-matching .quiz-block-matching__droppable,
.legacy-page .quiz-block-matching .quiz-block-matching__source__droppable {
	border-radius: 4px;
	border: 1px dashed #69c;
	height: 37px;
	padding: 0;
}

.legacy-page .quiz-block-matching .quiz-block-matching__droppable {
	margin-left: 10px;
}

.legacy-page .quiz-block-matching .quiz-block-matching__droppable.highlight,
.legacy-page .quiz-block-matching .quiz-block-matching__source__droppable.highlight {
	background-color: #87ceeb;
	border-color: #67aecb;
}

.legacy-page .quiz-block-matching .quiz-block-matching__droppable.added,
.legacy-page .quiz-block-matching .quiz-block-matching__source__droppable.added {
	border-width: 0;
}

.legacy-page .quiz-block-matching .quiz-block-matching__source__droppable .quiz-block-matching__movable-item.clicked-item {
	background-color: #20b2aa;
	border-color: #08827b;
}

.legacy-page .quiz-block-matching__item.right {
	margin-left: -15px;
}

.legacy-page .quiz-block-matching__item.right .quiz-block-matching__fixed-item:not(:last-child),
.legacy-page .quiz-block-matching__item.right .quiz-block-matching__movable-item {
	background-color: #E1FFE1;
	border-color: #B9E6B9;
	color: black;
}

.legacy-page .quiz-block-matching__item.wrong .quiz-block-matching__fixed-item:not(:last-child),
.legacy-page .quiz-block-matching__item.wrong .quiz-block-matching__movable-item {
	background-color: #FFE1E1;
	border-color: #E6B9B9;
	color: black;
}

.legacy-page .quiz-block-ordering .quiz-block-ordering__item.correct,
.legacy-page .quiz-block-matching .quiz-block-matching__fixed-item.correct {
	background-color: #82D082;
	border-color: #71BB71;
	color: white;
}

.legacy-page .quiz-block-ordering__correct-description,
.legacy-page .quiz-block-matching__correct-description {
	padding-bottom: 8px;
	font-size: 13pt;
}

.legacy-page .quiz-block-matching__correct-description {
	padding-left: 15px;
}

.legacy-page .quiz-block-ordering__correct-description div {
	padding-left: 29px;
}

.legacy-page .quiz-block-matching__correct-description div {
	padding-left: 23px;
}

.legacy-page .quiz.quiz-block-input .form-control {
	max-width: none;
}

/* Quiz Analytics */
.legacy-page .analytics__quiz-version__info {
	margin-top: 15px;
}

.legacy-page table.analytics__user-answers {
	margin-top: 15px;
}

/* Exercise */
.legacy-page .exercise__submissions-panel {
	margin-bottom: 8px;
}

.legacy-page .exercise__submissions-panel .inline-select.with-buttons {
	margin: 0 10px;
}

.legacy-page .exercise__submissions-panel .btn-xs {
	border-radius: 5px;
	padding: 1px 5px 3px;
}

.legacy-page .exercise__submissions-panel .btn-group .btn-xs:not(:first-child) {
	margin-left: 2px;
}

.legacy-page .exercise__score .exercise__other-score-link {
	margin-left: 10px;
	margin-right: 10px;
}

.legacy-page .exercise__score .exercise__other-score-container {
	vertical-align: middle;
}

.legacy-page .exercise__score input {
	display: inline-block;
	width: auto;
}

.legacy-page .exercise__score .status {
	padding: 5px 0;
}

.legacy-page .exercise__score .status.waiting { color: #a0932b; }
.legacy-page .exercise__score .status.error { color: #a0372b }
.legacy-page .exercise__score .status.success { color: #2ca02b }

.legacy-page .exercise__score-form {
	margin-bottom: 10px;
}

.legacy-page .exercise__score-form-wrapper.fixed {
	background: white;
	bottom: 0;
	position: fixed;
	z-index: 10;
	padding-top: 1px;
	box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.48);
	width: 1214px;
	margin-left: -20px;
	padding-left: 5px;
	padding-right: 9px;
}

@media (max-width: 768px) {
	.legacy-page .exercise__score-form-wrapper {
		padding-left: 15px !important;
	}

	.legacy-page .exercise__score-form-wrapper.fixed {
		width: 100%;
	}
}

.legacy-page .exercise__score-form-wrapper.fixed.short {
	padding-bottom: 10px;
}

.legacy-page .exercise__score-form-wrapper.fixed.short .hide-on-short {
	display: none;
	transition: all 0.5s ease;
}

.legacy-page .exercise__review-selection-hint {
	float: right;
	margin-right: 265px;
}

.legacy-page .manual-checkings-left {
	display: block;
	margin-left: 189px;
	margin-top: 7px;
}

@media (max-width: 790px) {
	.legacy-page .manual-checkings-left {
		margin-left: 10px;
	}
}

.legacy-page .no-manual-checkings-left {
	display: inline-block;
	margin-left: 7px;
	vertical-align: middle;
}

.legacy-page #exercise__submission__output {
	margin-top: 10px;
	white-space:pre;
	font-family: monospace;
	border-left: 4px solid #8c8c8c;
	padding-left:  10px;
}

.legacy-page #exercise__submission__output::before {
	content: "Вывод программы:";
	display: block;
	font-weight: bold;
	font-family: sans-serif;
}

.legacy-page #exercise__submission__output.empty::before {
	content: "Нет вывода программы"
}

.legacy-page .user-submission {
	margin-top: 20px;
}

.legacy-page .user-submission__info {
	background-color: #c8ffd1;
	margin-left: -15px;
	padding: 12px 15px;
}

.legacy-page .user-submission__info h3 {
	margin-top: 0;
}

.legacy-page .user-submission__info .hint {
	display: none;
}

.legacy-page .user-submission .exercise__score button.disabled {
	pointer-events: initial;
	cursor: initial;
}

@media (max-width: 1000px) {
	.legacy-page .user-submission {
		overflow: hidden;
		min-height: 110px;
		position: relative;
		margin-left: -15px;
		margin-right: -15px;
		padding: 0 15px;
	}

	.legacy-page .user-submission__info {
		position: absolute;
		z-index: 3;
		width: 100%;
		min-height: 110px;
		padding-top: 20px;
	}

	.legacy-page .user-submission__info h3 {
		font-size: 15px;
		font-weight: 700;
		height: 16px;
		max-height: 16px;
		overflow: hidden;
		-moz-text-overflow: ellipsis;
		text-overflow: ellipsis;
	}

	.legacy-page .user-submission__info .hint {
		display: block;
		font-size: 12px;
		color: #696;
		margin-top: 10px;
	}

	.legacy-page .user-submission h4 {
		font-size: 16px;
	}

	.legacy-page .user-submission .exercise__simple-score-form {
		border-top: 1px solid #9c9;
		border-bottom: 1px solid #9c9;
		padding: 0 15px;
		margin: 0 -15px;
		min-height: 110px;
	}

	.legacy-page .user-submission .last-review-comments {
		margin-top: 10px;
	}
}

.legacy-page .commented-code {
	background-color: #fbdddd;
	padding: 0 5px;
	font-family: monospace;
}

/* Loading spinner */
.legacy-page .loading-spinner {
	text-align: center;
	padding: 10px 0;
}

.legacy-page .loading-spinner img {
	height: 60px;
	width: auto;
}

.legacy-page .exercise {
	margin-top: 30px;
}

.legacy-page .exercise__submission .loading-spinner {
	position: relative;
	top: -10px;
	padding: 30px 0;
}

.legacy-page .exercise .CodeMirror-selected + .tooltip {
	z-index: 4;
}

/* Grader */
.legacy-page .grader-submissions__table {
	margin-top: 20px;
}

.legacy-page .grader-submissions__table .show-on-row-hover {
	display: none;
}

.legacy-page .grader-submissions__table tr:hover .show-on-row-hover {
	display: inline-block;
}
/* End of grader */

/* User menu */
.legacy-page .user-menu__error {
	color: #f77;
	font-size: 12px;
	padding-left: 20px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.legacy-page .user-menu__error__icon {
	color: #f99;
	margin-right: 4px;
}
/* End of user menu */

/* Profile */
.legacy-page .profile__form-group-info {
	margin-bottom: 7px;
	padding-left: 15px;
	padding-right: 15px;
}
/* End of profile */

/* Other user's profile page '*/
.legacy-page .user-profile__avatar {
	margin-right: 10px;
}

.legacy-page .user-profile__info {
	min-height: 100px;
}

/* Manual checking queue filter form */
@media (min-width: 769px) {
	.legacy-page #manual-checking-queue-filter-form .manual-checking-queue-filter-form__done-filter {
		display: block;
	}

	.legacy-page #manual-checking-queue-filter-form .checkbox {
		padding-left: 0px;
		padding-top: 5px;
		padding-bottom: 10px;
	}

	.legacy-page #manual-checking-queue-filter-form .checkbox > label {
		padding-left: 5px;
	}
}

@media (max-width: 768px) {
	.legacy-page #manual-checking-queue-filter-form .checkbox {
		padding-top: 0;
		padding-left: 12px;
	}
}

/* Style errors settings */
.legacy-page .style-errors__settings__status {
	margin-left: 50px;
	display: inline-block;
}