/*#region js-classes */
/* ReSharper disable DeclarationIsEmpty */
/* ReSharper disable Html.CssClassElementsNotFound */
.quiz {
}

.true {
}


.false {
}

.answered {
}

.quiz-block-mark {
}

.quiz-block-input {
}

.load-content {
}

.run-style-error, .run-service-error, .run-compile-error, .run-success, .run-wa, .run-wa-no-diff, .run-details {
}

.code, .code-exercise {
}

.revealed {
	background-color: #FDD;
	padding: 10px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.statistic-container {
}

/* ReSharper restore Html.CssClassElementsNotFound */
/* ReSharper restore DeclarationIsEmpty */
/*#endregion */

.jumbotron-logo {
	float: left;
	margin: 30px;
	margin-top: -20px;
	margin-bottom: 0;
}

.container {
	max-width: 864px;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.CodeMirror {
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 1.3em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	height: auto;
}

.cm-s-cobalt .CodeMirror-matchingbracket {
	outline-color: rgb(0, 100, 100) !important;
	outline-color: rgba(0, 200, 200, 0.5) !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.sphere-engine-tm {
	margin: 0 0 -20px 0;
	text-align: right;
	font-size: small;
}

.run-result {
	display: none;
}

.diff-table {
	width: 100%;
	margin-top: 25px;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.run-verdict {
	height: 46px;
	line-height: 46px;
	width: 100%;
	text-align: center;
	font-size: x-large;
	color: white;
	margin-top: 10px;
}

.no-rounds {
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.units-list {
	list-style-type: none;
}

.units-list-item {
	padding: 0 0.2em 0 0.1em;
}

.units-list-item-text {
	font-size: 1.3em;
}

.slides-list {
	font-weight: normal;
	padding-left: 0;
	margin-top: 0.5em;
}

.units-list-item > a:before,
.score {
	font-weight: lighter;
	font-size: 0.9em;
	color: #838383;
}

.units-list-item > a:before {
	content: attr(data-score);
	float: right;
	padding-left: 1em;
	padding-top: 0.1em;
}

.right {
	margin-left: auto;
}

.slide-list-item {
	list-style-type: none;
	padding: 0.5em 0.5em 0.5em;
	cursor: pointer;
	color: #428bca;
	display: flex;
}

	/* ReSharper disable Html.CssClassElementsNotFound */
	.slide-list-item.selected {
		background-color: #f5f5f5;
		font-weight: bolder;
		list-style-type: none;
		cursor: pointer;
		color: #428bca;
	}
/* ReSharper restore Html.CssClassElementsNotFound */
.side-bar {
	max-width: 350px;
	margin: 0;
	padding-top: 20px;
	max-height: none !important;
}

.slide-container {
	margin-left: 320px;
}

@media (max-width: 768px) {
	.slide-container {
		margin-left: 10px;
	}
}

.ask-bar {
	max-width: none;
	width: 100%;
	margin-bottom: 15px;
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

.likes-counter {
	margin-left: 0;
}

.rate-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.table-header {
	color: #428bca;
}

.like-left-location {
	margin-right: 10px;
	float: left;
}

.navbar-label {
	float: left;
	margin-right: 8px;
	width: 14px;
}

.navbar-label-privileged {
	color: #333;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.navbar-label-default {
	color: lightgray;
}

.navbar-label-success {
	color: lightgreen;
}

.navbar-label-danger {
	color: lightcoral;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.block-next {
	color: gray;
	background-color: aliceblue;
	margin-left: 0 !important;
}

.solution-control {
	width: 100%;
	margin-top: -20px;
	margin-left: 0 !important;
}

.reset-btn {
	width: 25%;
	margin-left: 0 !important;
	float: right !important;
}

.hints-btn {
	width: 25%;
	margin-left: 0 !important;
}

.giveup-btn {
	width: 25%;
	margin-left: 0 !important;
}

.run-solution-button {
	width: 25%;
	margin-bottom: 10px;
	margin-left: 0 !important;
}

.run-solution-button-lti {
	width: 50% !important;
}


.rates-bar {
	width: 100%;
	margin-bottom: -11px;
	margin-left: 0 !important;
}

.ctrl-group {
	margin-left: 0 !important;
}

.full-width {
	width: 100%;
}

.quiz-submit-btn {
	margin-top: -10px;
	margin-bottom: 5px;
}

.no-display {
	display: none;
}

.quiz-block-delimiter {
	margin-bottom: 40px;
	margin-top: 40px;
	color: gray;
	align-self: center;
}

.hide-side-bar-button {
	float: left;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.falseQuizAnswer {
	background-color: lightcoral !important;
}

.rightQuizAnswer {
	background-color: lightgreen !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.unit-statistic-ref {
	color: yellowgreen;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.green-stat {
	background-color: lightgreen !important;
}

.red-stat {
	background-color: lightcoral !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.wide-container {
	margin: 0 50px;
}

.table.table-autowidth {
	width: auto;
}

div.tex {
	font-size: 1.2em;
	padding-bottom: 1em;
}

.course-name {
	font-size: 1.56em;
	font-weight: bold;
}

	.course-name > a:hover {
		background-color: white !important;
		color: #428BCA;
	}

.submitions-item {
	cursor: pointer;
}

table.diff {
	border-collapse: collapse;
	border: 1px solid lightblue /*darkgray*/;
	white-space: pre-wrap;
	table-layout: fixed;
	width: 100%;
}

	table.diff tbody {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	}

	table.diff thead th:first-child {
		width: 30px;
	}

	table.diff th {
		background: aliceblue;
		font-weight: normal;
		border: 1px solid lightblue /*#BBC*/;
		text-align: center !important;
		vertical-align: top;
	}

	table.diff tbody th {
		font-size: 11px;
		color: #428bca /*#886*/;
	}

	table.diff tbody td {
		padding: 0 .4em;
		padding-top: .4em;
		vertical-align: top;
		border-right: 1px solid aliceblue;
	}

	table.diff .different:nth-child(odd) td {
		background-color: #E99;
	}

	table.diff .different:nth-child(even) td {
		background-color: #FAA;
	}

	table.diff .equals:nth-child(odd) td {
		background-color: #9E9;
	}

	table.diff .equals:nth-child(even) td {
		background-color: #AFA;
	}

body.lti-component {
	padding-top: 0;
	margin-top: 0;
	overflow-x: hidden;
}

li.li-danger {
	background: #f5d8d6;
}

li.li-warning {
	background: #fbe9d0;
}

li.li-info {
	background: #d5eff6;
}

li.li-success {
	background: #dbf0db;
}

/* Comments */
.comments .comment {
	margin-top: 15px;
}

.comments:not(.comments__feed) .comment.is-reply,
.comments:not(.comments__feed) .reply-form.is-reply {
	margin-left: 68px;
}

.comments .comment .comment__author-avatar {
	margin-right: 2px;
}

.comments .comment .comment__header {
	margin: 0;
}

.comments .comment .comment__header,
.comments .comment .comment__footer {
	font-size: 9pt;
}

.comments .comment .comment__header .glyphicon,
.comments .comment .comment__footer .glyphicon:not(.glyphicon-heart){
	font-size: 80%;
	margin-left: 3px;
}

.comments .comment .comment__footer .glyphicon {
	position: relative;
	top: 1px;
}

.comments .comment .comment__header > div,
.comments .comment .comment__footer > div {
	display: inline-block;
}

.comments .comment .comment__header .comment__not-approved {
	display: inline;
}

.comments .comment .label {
	font-size: 7pt;
	vertical-align: middle;
	margin-left: 5px;
}

.comments .comment .label * {
	color: white;
}

.comments .comment .label-as-badge {
	padding: 1px 4px 2px;
	border-width: 1px;
	border-style: solid;
}

.comments .comment .comment__delete-link * {
	color: #933;
}

.comments .comment .comment__header .show-on-comment-hover,
.comments .comment .comment__footer .show-on-comment-hover,
.comments .comment .comment__header .show-on-comment-hover__if-not-pinned,
.comments .comment .comment__footer .show-on-comment-hover__if-not-pinned {
	display: none;
}

.comments .comment:hover .comment__header .show-on-comment-hover,
.comments .comment:hover .comment__footer .show-on-comment-hover,
.comments .comment:not(.is-pinned):hover .comment__header .show-on-comment-hover__if-not-pinned,
.comments .comment:not(.is-pinned):hover .comment__footer .show-on-comment-hover__if-not-pinned {
	display: initial;
}


.comments .comment .comment__author-name {
	font-size: 10pt;
	font-weight: bold;
	color: #060;
}

.comments .comment .comment__footer > :not(:first-child) {
	padding-left: 10px;
}

.comments .comment .comment__publish-time,
.comments .comment .comment__publish-time a {
	color: #bbb;
}

.comments .comment .comment__likes-count {
	cursor: pointer;
}

.comments .comment .comment__likes-count:hover {
	color: #900;
}

.comments .comment .comment__likes-count .glyphicon {
	color: #888;
	font-size: 10pt;
}

.comments .comment .comment__likes-count.is-liked .glyphicon {
	color: #c00;
}

.comments .comment .comment__likes-count:not(.is-liked):hover .glyphicon {
	color: #700;
}

.comments .reply-form [name=commentText] {
	height: 24px;
	margin-left: 7px;
	padding: 1px 5px;
	outline: none;
	max-width: none;
	width: 100%;
}

.comments .reply-form textarea[name=commentText] {
	height: 60px;
	padding-left: 6px;
	padding-top: 1px;
}

.comments .reply-form .media-body {
	padding-right: 7px;
}

.comments .reply-form .reply-form__send-button {
	margin-left: 7px;
	margin-top: 7px;
	display: inline-block;
}

.comments .reply-form .comment__error-message {
	display: inline-block;
	margin-top: 7px;
	vertical-align: middle;
	margin-left: 15px;
	color: #B15252;
}

.comments .comment:not(.is-reply):not(:nth-child(2)),
.comments.comments__feed .comment:not(:nth-child(2)) {
	border-top: 1px solid rgba(200, 200, 200, 0.5);
	padding-top: 15px;
}

.comments .comment .comment__new-text {
	display: block;
	width: 100%;
	max-width: none;
	padding-top: 1px;
	padding-left: 6px;
	margin: 5px 0;
}

.comments .comment.is-pinned .comment__footer .comment__pin-link,
.comments .comment:not(.is-pinned) .comment__footer .comment__unpin-link,
.comments .comment.not-approved .comment__footer .comment__hide-link,
.comments .comment.not-approved .comment__header .comment__pinned,
.comments .comment.not-approved .comment__header .comment__correct-answer,
.comments .comment:not(.not-approved) .comment__header .comment__not-approved {
	display: none;
}

.comments .comment .comment__header .comment__correct-answer
.comments .comment.not-approved .comment__footer .comment__pin-link {
	display: none;
}

.comments .comment.is-pinned .comment__header .comment__pinned,
.comments .comment.is-correct-answer .comment__header .comment__correct-answer {
	display: initial;
}

.label-switcher {
	cursor: pointer;
}


.comments .comment:not(.is-correct-answer) .label-switcher.comment__correct-answer {
	border: 1px solid #428bca;
	border: 1px solid rgba(66, 139, 202, 0.52);
	color: #428bca;
	color: rgba(66, 139, 202, 0.58);
	background-color: white;
}

.comments .comment:not(.is-correct-answer) .label-switcher.comment__correct-answer .glyphicon-remove {
	display: none;
}


.comments .comment:not(.is-pinned) .label-switcher.comment__pinned {
	border: 1px solid #5cb85c;
	border: 1px solid rgba(92,184,92,0.58);
	color: #5cb85c;
	color: rgba(92,184,92,0.58);
	background-color: white;
}

.comments .comment:not(.is-pinned) .label-switcher.comment__pinned * {
	color: inherit;	
}

.comments .comment .comment__footer .comment__hide-link a {
	color: #bbb;
}

.comments .comment .comment__header *:hover > .hide-on-parent-hover,
.comments .comment .comment__footer *:hover > .hide-on-parent-hover {
	display: none;
}

.comments .comment .comment__header *:not(:hover) > .show-on-parent-hover,
.comments .comment .comment__footer *:not(:hover) > .show-on-parent-hover {
	display: none;
}

.comments .comment .comment__header .show-on-parent-hover__if-pinned,
.comments .comment .comment__footer .show-on-parent-hover__if-pinned {
	display: none;
}

.comments .comment.is-pinned .comment__header *:hover > .show-on-parent-hover__if-pinned ,
.comments .comment.is-pinned .comment__footer *:hover > .show-on-parent-hover__if-pinned {
	display: initial;
}

.comments .comment:not(.is-pinned) .comment__header .show__if_pinned {
	display: none;
}


.comments_policy__message {
	margin-top: 15px;
	background-color: rgba(255, 0, 0, 0.13);
	padding: 7px 12px;
	border-radius: 5px;
	color: #500F0F;
}

/* User avatars */
.user__avatar {
	width: 54px;
	height: 54px;
	display: inline-block;
	border-radius: 4px;
}

.user__avatar.small {
	width: 24px;
	height: 24px;
}

.user__avatar.user__avatar__placeholder {
	color: white;
	font-size: 25pt;
	text-align: center;
	padding-top: 5px;
}

.user__avatar.user__avatar__placeholder.small {
	font-size: 12pt;
	padding-top: 2px;
}
