/*#region js-classes */
/* ReSharper disable DeclarationIsEmpty */
/* ReSharper disable Html.CssClassElementsNotFound */
.quiz {
}

.true {
}


.false {
}

.answered {
}

.quiz-block-mark {
}

.quiz-block-input {
}

.load-content {
}

.run-style-error, .run-service-error, .run-compile-error, .run-success, .run-wa, .run-wa-no-diff, .run-details {
}

.code, .code-exercise {
}

.revealed {
	background-color: #FDD;
	padding: 10px;
	-ms-border-radius: 5px;
	border-radius: 5px;
}

.statistic-container {
}

/* ReSharper restore Html.CssClassElementsNotFound */
/* ReSharper restore DeclarationIsEmpty */
/*#endregion */

.jumbotron-logo {
	float: left;
	margin: 30px;
	margin-top: -20px;
	margin-bottom: 0;
}

.container {
	max-width: 864px;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.CodeMirror {
	height: auto;
	margin-bottom: 20px;
	margin-top: 20px;
	line-height: 1.3em;
	font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.CodeMirror-scroll {
	overflow-y: hidden;
	overflow-x: auto;
	height: auto;
}

.cm-s-cobalt .CodeMirror-matchingbracket {
	outline-color: rgb(0, 100, 100) !important;
	outline-color: rgba(0, 200, 200, 0.5) !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.sphere-engine-tm {
	margin: 0 0 -20px 0;
	text-align: right;
	font-size: small;
}

.run-result {
	display: none;
}

.diff-table {
	width: 100%;
	margin-top: 25px;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.run-verdict {
	height: 46px;
	line-height: 46px;
	width: 100%;
	text-align: center;
	font-size: x-large;
	color: white;
	margin-top: 10px;
}

.no-rounds {
	-ms-border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.units-list {
	list-style-type: none;
}

.units-list-item {
	padding: 0 0.2em 0 0.1em;
}

.units-list-item-text {
	font-size: 1.3em;
}

.slides-list {
	font-weight: normal;
	padding-left: 0;
	margin-top: 0.5em;
}

.units-list-item > a:before,
.score {
	font-weight: lighter;
	font-size: 0.9em;
	color: #838383;
}

.units-list-item > a:before {
	content: attr(data-score);
	float: right;
	padding-left: 1em;
	padding-top: 0.1em;
}

.right {
	margin-left: auto;
}

.slide-list-item {
	list-style-type: none;
	padding: 0.5em 0.5em 0.5em;
	cursor: pointer;
	color: #428bca;
	display: flex;
}

	/* ReSharper disable Html.CssClassElementsNotFound */
	.slide-list-item.selected {
		background-color: #f5f5f5;
		font-weight: bolder;
		list-style-type: none;
		cursor: pointer;
		color: #428bca;
	}
/* ReSharper restore Html.CssClassElementsNotFound */
.side-bar {
	width: 350px;
	margin: 0;
	padding-top: 20px;
	max-height: none !important;
}

.slide-container {
	margin-left: 320px;
}

@media (max-width: 768px) {
	.slide-container {
		margin-left: 10px;
	}
}

.ask-bar {
	max-width: none;
	width: 100%;
	margin-bottom: 15px;
	-moz-resize: none;
	-ms-resize: none;
	-o-resize: none;
	resize: none;
}

.likes-counter {
	margin-left: 0;
}

.rate-buttons {
	margin-top: 10px;
	margin-bottom: 10px;
	float: right;
}

.table-header {
	color: #428bca;
}

.like-left-location {
	margin-right: 10px;
	float: left;
}

.navbar-label {
	float: left;
	margin-right: 8px;
	width: 14px;
}

.navbar-label-privileged {
	color: #333;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.navbar-label-default {
	color: lightgray;
}

.navbar-label-success {
	color: lightgreen;
}

.navbar-label-danger {
	color: lightcoral;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.block-next {
	color: gray;
	background-color: aliceblue;
	margin-left: 0 !important;
}

.solution-control {
	width: 100%;
	margin-top: -20px;
	margin-left: 0 !important;
}

.reset-btn {
	width: 25%;
	margin-left: 0 !important;
	float: right !important;
}

.hints-btn {
	width: 25%;
	margin-left: 0 !important;
}

.giveup-btn {
	width: 25%;
	margin-left: 0 !important;
}

.run-solution-button {
	width: 25%;
	margin-bottom: 10px;
	margin-left: 0 !important;
}

.run-solution-button-lti {
	width: 50% !important;
}


.rates-bar {
	width: 100%;
	margin-bottom: -11px;
	margin-left: 0 !important;
}

.ctrl-group {
	margin-left: 0 !important;
}

.full-width {
	width: 100%;
}

.quiz-submit-btn {
	margin-top: -10px;
	margin-bottom: 5px;
}

.no-display {
	display: none;
}

.quiz-block-delimiter {
	margin-bottom: 40px;
	margin-top: 40px;
	color: gray;
	align-self: center;
}

.hide-side-bar-button {
	float: left;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.falseQuizAnswer {
	background-color: lightcoral !important;
}

.rightQuizAnswer {
	background-color: lightgreen !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

.unit-statistic-ref {
	color: yellowgreen;
}

/* ReSharper disable Html.CssClassElementsNotFound */
.green-stat {
	background-color: lightgreen !important;
}

.red-stat {
	background-color: lightcoral !important;
}
/* ReSharper restore Html.CssClassElementsNotFound */

.wide-container {
	margin: 0 50px;
}

.table.table-autowidth {
	width: auto;
}

div.tex {
	font-size: 1.2em;
	padding-bottom: 1em;
}

.course-name {
	font-size: 1.56em;
	font-weight: bold;
}

	.course-name > a:hover {
		background-color: white !important;
		color: #428BCA;
	}

.submitions-item {
	cursor: pointer;
}

table.diff {
	border-collapse: collapse;
	border: 1px solid lightblue /*darkgray*/;
	white-space: pre-wrap;
	table-layout: fixed;
	width: 100%;
}

	table.diff tbody {
		font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	}

	table.diff thead th:first-child {
		width: 30px;
	}

	table.diff th {
		background: aliceblue;
		font-weight: normal;
		border: 1px solid lightblue /*#BBC*/;
		text-align: center !important;
		vertical-align: top;
	}

	table.diff tbody th {
		font-size: 11px;
		color: #428bca /*#886*/;
	}

	table.diff tbody td {
		padding: 0 .4em;
		padding-top: .4em;
		vertical-align: top;
		border-right: 1px solid aliceblue;
	}

	table.diff .different:nth-child(odd) td {
		background-color: #E99;
	}

	table.diff .different:nth-child(even) td {
		background-color: #FAA;
	}

	table.diff .equals:nth-child(odd) td {
		background-color: #9E9;
	}

	table.diff .equals:nth-child(even) td {
		background-color: #AFA;
	}

body.lti-component {
	padding-top: 0;
	margin-top: 0;
	overflow-x: hidden;
}

li.li-danger {
	background: #f5d8d6;
}

li.li-warning {
	background: #fbe9d0;
}

li.li-info {
	background: #d5eff6;
}

li.li-success {
	background: #dbf0db;
}
