@import "./../../../variables";

.title {
  font-family: @defaultFonts;
  font-size: 32px;
  line-height: 40px;
  font-weight: normal;
}

.progressBar {
  position: relative;
  top: 15px;
}

.shortQuestions {
  position: relative;
  top: 25px;
}