@import "../../../../variables.less";

.wrapper {
  width: 100%;
  margin-bottom: 40px;
}

.teachers {
  margin-bottom: 30px;
}

.teachers-header {
  margin: 20px 0 10px 0;
}

.teachers-info {
  margin-bottom: 10px;
}

.teacher-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 10px 0;
  align-items: flex-start;
}

.teacher-name {
  margin-left: 15px;
}

.teacher-status {
  color: @additionalColor;

  @media (max-width: @maxPhoneWidth) {
	display: none;
  }
}

.teacher-action {
  margin-left: auto;
}

.students-header {
	margin: 0 0 15px 0;
}
