<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />

		<sectionGroup name="elmah">
			<section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
			<section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
			<section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
			<section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
		</sectionGroup>
		<section name="graphite.elmah" type="Graphite.Configuration.GraphiteElmahConfiguration, Graphite.Elmah" />
	<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
	<connectionStrings>
		<!-- ConnectionString для подключения к Graphite-relay в формате "address=graphite-relay.com;port=8125;prefixKey=ulearn.local". Можно оставить пустой, чтобы не отправлять метрики -->
		<!-- В appsettings.json есть копия statsd, но для отправки метрики request.time через MetricsPipe настройка нужна именно здесь -->
		<add name="statsd" connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<!-- Elmah (https://github.com/alexbeletsky/elmah-mvc) — это сборщик ошибок и исключений. Доступен админам по адресу /elmah -->
		<!-- Управление доступом в самой Elmah не работает:  https://github.com/alexanderbeletsky/elmah-mvc/issues/28. Авторизация сделана средствами ASP.NET - см ниже -->
		<add key="elmah.mvc.disableHandler" value="false" />
		<add key="elmah.mvc.disableHandleErrorFilter" value="false" />
		<add key="elmah.mvc.requiresAuthentication" value="false" />
		<add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
		<add key="elmah.mvc.allowedRoles" value="*" />
		<add key="elmah.mvc.allowedUsers" value="*" />
		<add key="elmah.mvc.route" value="elmah" />
		<add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

		<!-- Данные для авторизации через ВКонтакте -->
		<add key="owin.vk.appId" value="5333292" />
		<add key="owin.vk.appSecret" value="b1j1H7Yqbn2USgl6VYPt" />
		<!-- Данные для авторизации через Контур.Паспорт -->
		<add key="owin.konturPassport.clientId" value="ulearn-test" />
		<!-- clientSecret больше не используется -->
		<add key="owin.konturPassport.clientSecret" value="bz4F8ppejxEiqY6vmWkY" />

		<add key="stepik.clientId" value="racHM9t6JDGNxsVU5AuDkQ5h61nddgpSjSqHzpWI" />
		<add key="stepik.clientSecret" value="gZvdMTrk1ygOXEqHtlkrQBR3IURPiqv5F7soznkkhageUyOksgIYEhWGDJYTQD9lCFEkj3mFRGFiHSmL7fNWwqXp2bASxz4Bp6sjUeau6KBZTA1NjQE9PCVnXUscosJ3" />
		<add key="stepik.defaultXQueueName" value="urfu_cs1_testing" />

		<!-- Основной адрес, нужен для правильного построения ссылок в уведомлениях. Например, https://ulearn.me -->
		<add key="ulearn.baseUrl" value="http://localhost:3000" />

		<!-- Папка с курсами. По умолчанию — корневая папка веб-проекта. Должна содержать подпапки Courses, Courses.Staging, Courses.Versions.
         Если указана папка, отличная от корневой папки веб-проекта, содержимое подпапки Courses должно отдаваться веб-сервером по адресам /Courses/* -->
		<add key="ulearn.coursesDirectory" value="" />

		<!-- Папка со сгенерированными zip-архивами с упражнениями для выдачи пользователям (из них удалено всё лишнее).
         Генерируются при загрузке курса или по требованию. По умолчанию — подпапка ExerciseStudentZips папки ulearn.coursesDirectory -->
		<add key="ulearn.exerciseStudentZipsDirectory" value="" />
		<add key="ulearn.exerciseCheckerZipsDirectory" value="" />

		<!-- Папка с шаблонами сертификатов. По умолчанию — папка Certificates в корне веб-проекта.
         Содержимое этой папки должно отдаваться веб-сервером по адресам /Certificates/* -->
		<add key="ulearn.certificatesDirectory" value="" />

		<!-- Если параметр ulearn.requireHttps равен true, то все HTTP-запросы будут возвращать
         перенаправление на HTTPS (или 403 с описанием "SSL required", если это POST-запрос) -->
		<add key="ulearn.requireHttps" value="false" />

		<!-- Секретная строка для вычисления секретных хешей -->
		<add key="ulearn.secretForHashes" value="AAGaAxFmEUjmiyixyy6VNPsaqc" />

		<!-- Данные для интеграции с Телеграмом -->
		<!-- Имя бота без знака @. Бот должен быть доступен по ссылке https://t.me/<botName> -->
		<add key="ulearn.telegram.botName" value="local_ulearn_bot" />
		<!-- Данные для установки веб-хука телеграма (https://core.telegram.org/bots/webhooks) -->
		<!-- Секрет, о котором будут знать только сервере Телеграма и сервер ulearn'а. Используется, чтобы никто не мог вызвать веб-хук самостоятельно -->
		<add key="ulearn.telegram.webhook.secret" value="123" />
		<!-- Домен для веб-хука. Например, ulearn.me -->
		<add key="ulearn.telegram.webhook.domain" value="18545595.ngrok.io" />

		<!-- Конфигурация для сервиса Контур.Спам: http://siberia/spam/  (работает только во внутренней сети СКБ Контур) -->
		<add key="ulearn.spam.endpoint" value="https://mail.testkontur.ru" />
		<add key="ulearn.spam.login" value="ulearn" />
		<add key="ulearn.spam.password" value="w32eRrn7tz" />
		<!-- Канал, куда отправляются письма о восстановлении пароля -->
		<add key="ulearn.spam.channels.passwords" value="passwords" />
		<!-- Канал, куда отправляются письма для подтверждения электронной почты -->
		<add key="ulearn.spam.channels.emailConfirmations" value="email_confirmations" />
		<!-- Имя шаблона для письма с кнопкой. В шаблоне поддерживаются переменные: title, content, button, button_link, button_text, content_after_button -->
		<add key="ulearn.spam.templates.withButton" value="with_button" />

		<!-- Где лежит реактовый index.html -->
		<add key="ulearn.react.index.html" value="..\Frontend\build\index.html" />

		<!-- Заголовок Content-Security-Policy (в данный момент только Content-Security-Policy-Report-Only -->
		<add key="ulearn.web.cspHeader" value="default-src 'self' 'unsafe-inline'; connect-src 'self' https://mc.yandex.ru https://*.yandex.ru http://localhost:8000 https://localhost:8000 ws://localhost:8000 wss://localhost:8000; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.yandex.ru https://mc.yandex.ru https://awaps.yandex.ru https://yandex.st https://*.yandex.st https://yandex.net https://*.yandex.net https://*.ravenjs.com https://cdnjs.cloudflare.com https://code.highcharts.com https://www.youtube.com https://*.ytimg.com; frame-src 'self' https://*.youtube.com https://youtube.com; img-src 'self' https:; report-uri https://frontreport-relay.skbkontur.ru/csp/" />
	</appSettings>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
			</assemblies>
		</compilation>
		<httpRuntime targetFramework="4.7.2" maxRequestLength="16000000" enableVersionHeader="false" maxUrlLength="2048" />
		<globalization culture="ru-RU" uiCulture="ru" fileEncoding="utf-8" responseEncoding="utf-8" />
		<httpModules>
			<add name="ErrorLog" type="uLearn.Web.ErrorLogModule, uLearn.Web" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
		</httpModules>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="/Errors/Error404" />
			<error statusCode="500" redirect="/Errors/Error500" />
		</customErrors>
	</system.web>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
	</system.serviceModel>
	<system.webServer>
		<modules>
			<remove name="FormsAuthentication" />
			<remove name="FormsAuthenticationModule" />
			<add name="ErrorLog" type="uLearn.Web.ErrorLogModule, uLearn.Web" preCondition="managedHandler" />
			<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
			<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
		</modules>

		<staticContent>
			<mimeMap fileExtension="woff" mimeType="application/font-woff" />
			<mimeMap fileExtension="woff2" mimeType="application/font-woff2" />
			<mimeMap fileExtension="odp" mimeType="application/vnd.oasis.opendocument.presentation" />
			<mimeMap fileExtension="zip" mimeType="application/zip" />
			<mimeMap fileExtension="mmap" mimeType="application/vnd.mindjet.mindmanage" />
			<mimeMap fileExtension="xmind" mimeType="application/vnd.xmind.workbook" />
			<mimeMap fileExtension="fig" mimeType="application/octet-stream" />
		</staticContent>

		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="160000000" />
				<hiddenSegments>
					<add segment="Courses.Staging" />
					<add segment="appsettings.json" />
					<add segment="appsettings.local.json" />
				</hiddenSegments>
			</requestFiltering>
		</security>

		<handlers>
			<add name="CertificatesStaticHandler" path="Certificate/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CStudentZipHandler" path="Exercise/*/*/StudentZip/*" verb="GET" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			<add name="CourseToolZipHandler" path="CourseTool.zip" verb="GET" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
			<add name="ScriptBundle" verb="GET" path="*.bundle.js" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler" />
			<add name="ScriptBundleMap" verb="GET" path="*.bundle.jsmap" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler" />
			<add name="StyleBundle" verb="GET" path="*.bundle.css" type="System.Web.Optimization.BundleHandler, System.Web.Optimization" preCondition="managedHandler" />

			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>

		<httpErrors errorMode="Custom">
			<remove statusCode="404" subStatusCode="-1" />
			<remove statusCode="500" subStatusCode="-1" />
			<error statusCode="404" subStatusCode="-1" path="/Errors/Error404" responseMode="ExecuteURL" />
			<error statusCode="500" subStatusCode="-1" path="/Errors/Error500" responseMode="ExecuteURL" />
		</httpErrors>

		<rewrite>
			<rules>
				<rule name="redirect from azurewebsites and WWW to custom domain" stopProcessing="true">
					<match url="^(.*)$" />
					<conditions logicalGrouping="MatchAny">
						<add input="{HTTP_HOST}" pattern="^www\.ulearn\.me" ignoreCase="true" />
						<add input="{HTTP_HOST}" pattern="ulearn\.azurewebsites\.net$" ignoreCase="true" />
					</conditions>
					<action type="Redirect" redirectType="Found" url="https://ulearn.me/{R:1}" />
				</rule>

				<rule name="Rewrite url to XSD-schema" stopProcessing="true">
					<match url="^schema/v2(\.xsd)?$" />
					<action type="Rewrite" url="/schema.xsd" redirectType="Permanent" />
				</rule>
			</rules>
		</rewrite>

		<httpProtocol>
			<customHeaders>
				<clear />
				<remove name="X-Powered-By" />
				<remove name="X-AspNet-Version" />

				<!-- CORS -->
				<add name="Access-Control-Allow-Origin" value="http://localhost:3000" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
			</customHeaders>
		</httpProtocol>

		<validation validateIntegratedModeConfiguration="false" />

	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileSystemGlobbing" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Dataflow" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.6.4.0" newVersion="4.6.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Framework" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Conversion.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Tasks.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Utilities.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Engine" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Build.Conversion.Core" culture="neutral" publicKeyToken="b03f5f7f11d50a3a" />
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="15.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.CompactFramework.Build.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-99.9.9.9" newVersion="9.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Authorization" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Security.Principal.Windows" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.Http.Features" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AspNetCore.DataProtection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols.OpenIdConnect" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Tokens" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.IdentityModel.Protocols" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="IdentityModel" publicKeyToken="e7877f4675df049f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Encoding.CodePages" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<elmah>
		<security allowRemoteAccess="1" />
		<errorLog type="Elmah.XmlFileErrorLog, Elmah, Version=1.2.14318.0, Culture=neutral, PublicKeyToken=null" logPath="~/App_Data" />
		<errorFilter>
			<test xmlns:my="http://schemas.microsoft.com/clr/nsassem/Graphite/Graphite.Elmah">
				<equal binding="HttpStatusCode" value="404" type="Int32" />
				<my:log />
			</test>
		</errorFilter>
	</elmah>
	<graphite.elmah xmlns="http://github.com/peschuster/Graphite/Configuration" key="web.elmah.errors" type="counter" target="statsd" />
	<location path="elmah">
		<!-- Управление доступом в самой Elmah не работает :( https://github.com/alexanderbeletsky/elmah-mvc/issues/28 -->
		<system.web>
			<authorization>
				<allow roles="SysAdmin" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Course">
		<system.webServer>
			<handlers>
				<remove name="StaticFile" />

				<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
				<!-- Pass all requests to TransferRequestHandler (path="*" instead of path="*.") -->
				<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*" verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
			</handlers>
		</system.webServer>
	</location>
	<location path="Courses">
		<system.webServer>
			<security>
				<requestFiltering>
					<fileExtensions allowUnlisted="false">
						<add fileExtension=".png" allowed="true" />
						<add fileExtension=".jpg" allowed="true" />
						<add fileExtension=".bmp" allowed="true" />
						<add fileExtension=".gif" allowed="true" />
						<add fileExtension=".zip" allowed="true" />
						<add fileExtension=".odp" allowed="true" />
						<add fileExtension=".pptx" allowed="true" />
						<add fileExtension=".docx" allowed="true" />
						<add fileExtension=".xlsx" allowed="true" />
						<add fileExtension=".pdf" allowed="true" />
						<add fileExtension=".html" allowed="true" />
						<add fileExtension=".mmap" allowed="true" />
						<add fileExtension=".xmind" allowed="true" />
						<add fileExtension=".fig" allowed="true" />
					</fileExtensions>
				</requestFiltering>
			</security>
		</system.webServer>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=3.6.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:7.3 /nowarn:1659;1699;1701" />
		</compilers>
	</system.codedom>
</configuration>