@import "../../../variables.less";

@rootZIndex: @asideZIndex;
@contentHeight: calc(100vh - @headerHeight);

.root {
  position: fixed;
  width: @navigationMenuWidth;
  max-width: @navigationMenuWidth;
  max-height: calc(100vh - @headerHeight);

  left: -2 * @navigationMenuWidth;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);

  flex-shrink: 0;
  z-index: @rootZIndex;
  transition: left 300ms ease-in-out;
}

:global {
  .open :local {
    .root {
      left: 0;
    }

    .overlay {
      opacity: 1;
      left: 0;
      right: 0;
    }
  }
}

.overflow {
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: -1;

  left: 100vw;
  top: 0;
  bottom: 0;
  right: 0;

  opacity: 0;

  transition: opacity 300ms ease-in-out;

  background-color: rgba(51, 51, 51, 0.8);
}

.contentWrapper {
  width: @navigationMenuWidth;

  overflow-y: auto;
  height: @contentHeight;
  max-height: @contentHeight;
  background: #ffffff;
}

@media (max-width: @maxPhoneWidth) {
  .root:after {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    visibility: visible;
    width: 20px;
    content: '';
  }
}

@media (min-width: @minLaptopWidth) {
  .overlay {
    display: none;
  }

  .root {
    left: 0;
    transition: none;
  }

  .contentWrapper {
    bottom: auto;
    max-height: calc(100vh - @headerHeight);
  }
}

@media (min-width: @navigationGrowthWidth) {
  .root {
    width: @maxNavigationMenuWidth;
    max-width: @maxNavigationMenuWidth;
  }

  .contentWrapper {
    width: @maxNavigationMenuWidth;
    bottom: 0;
  }
}