@model uLearn.Web.Controllers.CourseListViewModel

@{
	ViewBag.Title = "Admin Courses";
}
<div class="container">
	<h2>Управление курсами</h2>
	<ul>
		@foreach (var course in Model.Courses)
		{
			<li>@Html.ActionLink(course.Title, "Users", new { courseId = course.Id, onlyPrivileged = true })</li>
		}
	</ul>
	
	@if (User.IsSystemAdministrator())
	{
		<h3>Создать новый курс</h3>
		using (Html.BeginForm("CreateCourse", "Unit", FormMethod.Post, new { @class = "form-inline" }))
		{
			@Html.AntiForgeryToken()
			<input type="text" class="form-control" name="courseId" value="@Model.CourseCreationLastTry"/>
			<input type="submit" class="btn btn-danger" value="Создать" />
			<p>CourseId используется как часть URL, имя файла, часть путей. Лучше использовать только латинские буквы и цифры.</p>
		}
		if (!string.IsNullOrEmpty(Model.CourseCreationLastTry))
		{
			<div style="margin: 10px">В идентификаторе курса недопустимы символы: <pre style="display: inline-block">@Model.InvalidCharacters</pre></div>
		}
	}
</div>