@model string

@{
	ViewBag.Title = "Diagnostics";
}

@Html.Action("ManageMenu")

<div class="container">
<h2>Диагностики</h2>
	
	<div>
		<h3>Результат проверки орфографии:</h3>
		<div class="load-content" data-url="@Url.Action("SpellingErrors", new { courseId = Model })"> processing... </div>
	</div>
</div>