<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="MsBuild Private Feed" value="https://dotnet.myget.org/F/msbuild/api/v3/index.json" />
    <add key="core" value="https://ci.appveyor.com/nuget/vostok-core" />
    <add key="bluetape" value="https://ci.appveyor.com/nuget/vostok-bluetape" />
  </packageSources>
</configuration>