@model DailyStatistics[]

<div id="timelineChart" style="margin-right: 50px;" class="pull-left"></div>

<table id="timelineTable" class="table table-autowidth table-condensed table-striped">
	<thead>
	<tr>
		<th>Дата</th>
		<th title="Просмотрено впервые посещенных слайдов">Слайдов посещено</th>
		<th title="Количество пройденных слайдов с задачами/тестами (несколько решений одной задачи одним пользователем считается за единицу)">Задач решено</th>
		<th>Очков набрано</th>
	</tr>
	</thead>
	<tbody>
	@foreach (var day in Model)
	{
		<tr>
			<td>@day.Day.ToString("dd.MM.yy")</td>
			<td>@day.SlidesVisited</td>
			<td>@day.TasksSolved</td>
			<td>@day.Score</td>
		</tr>
	}
	</tbody>
</table>
<div class="clearfix"></div>
<script>
	$(function() {
		$('#timelineChart').highcharts({
			data: {
				table: document.getElementById('timelineTable')
			},
			chart: {
				type: 'line'
			},
			title: {
				text: ''
			},
			xAxis: {
				type: 'datetime',
				tickInterval: 24 * 3600000
			},
			yAxis: {
				allowDecimals: false,
				title: {
					text: 'Пройдено слайдов'
				}
			},
			credits: {
				enabled: false,
			},
		});
	});

</script>