@{
	ViewBag.Title = "Статистика и успеваемость | uLearn";
}

<body>
	<div class="wide-container">
		<h2 id="questions">Заданные вопросы</h2>
		<div class="load-content" data-url="@Url.Action("AllQuestions")"></div>

		<h2 id="timeline">Общая динамика прогресса</h2>
		<div class="load-content" data-url="@Url.Action("DailyStatistics")"></div>
	</div>
</body>

@section scripts{
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/data.js"></script>
<script src="~/Scripts/user-group-name-change.js"></script>
}
