@{
	ViewBag.Title = "Статистика и успеваемость";
}

<body>
	<div class="wide-container">
		<h2 id="timeline">Общая динамика прогресса</h2>
		<div class="load-content" data-url="@Url.Action("DailyStatistics")"></div>
	</div>
</body>
