@model UnitStatisticPageModel
@{
	ViewBag.Title = "Статистика и успеваемость | uLearn";
	var args = new {courseId = Model.CourseId, unitName = Model.UnitName};
}

<body>
	<div class="wide-container">
		<h1>Модуль &laquo;@Model.UnitName&raquo;</h1>
		<ul>
			<li><a href="#rate">Оценки слайдов</a></li>
			<li><a href="#questions">Заданные вопросы</a></li>
			<li><a href="#timeline">Общая динамика прогресса</a></li>
			<li><a href="#progress">Прогресс по студентам</a></li>
		</ul>

		<h2 id="rate">Оценки слайдов</h2>
		<div class="load-content" data-url="@Url.Action("SlideRatings", args)"></div>

		<h2 id="questions">Заданные вопросы</h2>
		<div class="load-content" data-url="@Url.Action("Questions", "Course", args)"></div>

		<h2 id="timeline">Общая динамика прогресса</h2>
		<div class="load-content" data-url="@Url.Action("DailyStatistics", args)"></div>

		<h2 id="progress">Прогресс по студентам</h2>
		<div class="load-content" data-url="@Url.Action("UsersProgress", args)"></div>
</div>
</body>

@section scripts{
<script src="//code.highcharts.com/highcharts.js"></script>
<script src="//code.highcharts.com/modules/data.js"></script>
}
