@{
	ViewBag.Title = "Учебные курсы";
}
<div class="container body-content">
	<div class="jumbotron">
		<h1>uLearn</h1>
		<p class="lead">Интерактивные онлайн учебные курсы по программированию</p>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2>Основы программирования на примере языка C#</h2>
			<p>
				Длительность курса: 1 семестр, 2—4 часа в неделю.
			</p>
			<p>
				Курс разработан для студентов первого года обучения компьютерных специальностей ИМКН УрФУ.
				Расчитан на людей с минимальным опытом программирования.
			</p>
			<p>@Html.ActionLink("Поехали!", "Slide", "Course", new { courseId = "BasicProgramming" }, null)</p>
		</div>
		<div class="col-md-6">
			<h2>Практикум по языку запросов LINQ</h2>
			<p>
				Длительность курса: 2-4 часа.
			<p>
				Вы познакомитесь с основами LINQ
				на серии тщательно подобранных практических
				примерах применения этой технологии.
			</p>
			<p>
				Курс будет полезен, даже если вы уже поверхностно знакомы с LINQ.
			</p>
			<p>@Html.ActionLink("Поехали!", "Slide", "Course", new { courseId = "Linq" }, null)</p>
		</div>
	</div>
</div>