@{
	ViewBag.Title = "Учебные курсы";
}
<div class="container body-content">
	<div class="jumbotron">
		<h1>uLearn</h1>
		<p class="lead">Интерактивные онлайн учебные курсы по программированию</p>
	</div>

	<div class="row">
		<div class="col-md-6">
			<h2>Основы программирования на C#</h2>
			<p>
				[В процессе разработки]
			</p>
			<p>@Html.ActionLink("Поехали!", "Slide", "Course", new { courseId = "BasicProgramming" }, null)</p>
		</div>
		<div class="col-md-6">
			<h2>Практикум по LINQ</h2>
			<p>
				Множество практических примеров использования Linq запросов.
			</p>
			<p>@Html.ActionLink("Поехали!", "Slide", "Course", new { courseId = "Linq" }, null)</p>
		</div>
	</div>
</div>