@import "./../../../variables.less";

@headerWithDividerHeight: 60px;

.comment {
  display: flex;
  flex-direction: row;
  width: 100%;
  word-wrap: break-word;
  position: relative;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
}

.timeSinceAdded {
  color: #808080;
  font-size: 14px;
}

.text {
  margin: 10px 0 5px;
  width: 95%;

  @media(max-width: @maxPhoneWidth) {
    margin: 0;
  }
}

.commentAnchor {
  position: absolute;
  top: -@headerWithDividerHeight;
}
