@import "./../../../variables.less";

button {
  outline: none;
}

.comment {
  display: flex;
  flex-direction: row;
  width: 100%;
  word-wrap: break-word;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
  width: 100%;
}

.timeSinceAdded {
  color: #808080;
  font-size: 14px;
}

.text {
  margin: 10px 0 5px;
  width: 95%;
}

.comment p  {
  @media(max-width: @maxPhoneWidth) {
    margin: 0;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-top: 5px;
  cursor: pointer;
}

.userButton {
  display: none;
  cursor: pointer;
}

.sendAnswer {
  border: 0;
  background: transparent;
  color: #3072C4;
  padding: 0;
  margin-right: 20px;
  cursor: pointer;
  height: 20px;
}

.buttonText {
  display: inline-block;
  margin-left: 5px;
  font-size: 13px;
}

.linkText {
  font-size: 13px;
  font-weight: 400;
  margin: 0 20px 0 5px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
