button {
  outline: none;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 10px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  font-size: 18px;
  margin: 0 10px 0 0;
}

.likesAction {
  border: 0;
  background: transparent;
  padding: 0;
}

.likesCount {
  color: #808080;
  font-size: 14px;
  margin-left: 3px;
}

.timeSinceAdded {
  color: #808080;
  font-size: 14px;
}

.text {
  margin: 10px 0 5px;
}

.actions {
  display: flex;
  justify-content: flex-start;
  margin: 5px 0 20px;
}

.userButton {
  display: none;
}

.sendAnswer {
  border: 0;
  background: transparent;
  color: #3072C4;
  padding: 0;
  margin-right: 20px;
}

.buttonText {
  display: inline-block;
  margin-left: 5px;
}

.markdownButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.markdownText {
  line-height: 15px;
  font-size: 12px;
  text-align: center;
  color: #a0a0a0;
  margin-right: 26px;
}
