.modal-text {
  margin-bottom: 10px;
}

.change-owner-block {
  margin: 15px 0 0;

  p {
	margin: 0 0 10px;
  }
}

.course-info, .group-info {
  margin: 0 0 5px;
}

.course-info + span {
  margin-bottom: 15px;
}

.modal-label {
  display: block;
}

.empty-group-text {
  display: inline-block;
  margin-left: 10px;
}