@import "../../../../variables.less";

.unitCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 700px;
  height: 340px;
  border-radius: 10px;
  padding: 4%;
  background: @blue;
}

.successColor{
  background: @successColor;
}

.unitCardTextContent {
  font-family: Segoe UI, serif;
  color: @whiteSmoke;
}

.unitCardTitle {
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unitCardBody {
  font-size: 18px;
  line-height: 1.2;
}