@import "../../../../variables.less";

@cardsContainerWidth: 700px;
@cardsContainerHeight: 349px;
@cardWidth: @cardsContainerWidth;
@cardHeight: @cardsContainerHeight - 9px;

.unitCardContainer {
  width: @cardsContainerWidth;
  height: @cardsContainerHeight;

  position: relative;
}

.unitCard {
  width: @cardWidth;
  height: @cardHeight;

  position: absolute;
  top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 10px;
  padding: 22px;
  background: @blue;
}

.unitCardNext {
  width: @cardWidth - 44px;
  height: @cardHeight - 48px;

  z-index: -2;
  top: 11px;
  left: 22px;

  background: darken(@blue, 10%);
}

.unitCardLast {
  width: @cardWidth - 92px;
  height: @cardHeight - 70px;

  z-index: -3;
  top: 4px;
  left: 46px;

  background: darken(@blue, 15%);
}

.successColor {
  background: @successColor;
}

.successColor.unitCardNext {
  background: darken(@successColor, 10%);
}

.successColor.unitCardLast {
  background: darken(@successColor, 15%);
}

.unitCardTextContent {
  font-family: @defaultFonts;
  color: @whiteSmoke;
  align-self: normal;
}

.unitCardTitle {
  font-size: 40px;
  line-height: 1.2;
  font-weight: normal;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.unitCardBody {
  font-size: 18px;
  line-height: 1.2;
}