@import "../../../../courseVariables";

.output {
  overflow: hidden;
  margin-top: 35px;
  border-radius: 8px;
  border: 1px solid @lightGrey;
}

.wrongAnswerOutput {
  .output;
  border: 1px solid @likeColor;
}

.compilationErrorOutput {
  .output;
  border: 1px solid @likeColor;
  background: @lightRed;
}

.serverErrorOutput {
  .output;
  border: 1px solid @accentColor;
}

.outputHeader {
  display: block;
  padding: 7px 16px;
  border-radius: 8px 8px 0 0;
  background-color: @lightGrey;
  color: @black;

  font-family: @defaultFonts;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.wrongAnswerOutput .outputHeader {
  background-color: @likeColor;
  color: @white;
}

.compilationErrorOutput .outputHeader {
  background-color: @likeColor;
  color: @white;
}

.serverErrorOutput .outputHeader {
  background-color: @accentColor;
  color: @white;
}

.outputParagraph {
  display: block;
  padding: 7px 16px;
  margin: 0;
}

.outputTable {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;

  font-family: @defaultFonts;
  font-style: normal;
  font-weight: normal;
}

.outputTable > thead > tr > th,
.outputTable > tbody > tr > td {
  padding: 7px 16px;
  vertical-align: top;
  border: 1px solid @lightGrey;
}

.outputTable > tbody > tr > td:first-of-type {
  padding: 7px;
}

.outputTable > thead > tr > th {
  border-top: none;
  text-align: left;
}

.outputTable > tbody > tr:last-of-type > td {
  border-bottom: none;
}

.outputTable > thead > tr > th {
  font-family: @defaultFonts;
  font-style: normal;
  font-weight: normal;

  font-size: 16px;
  line-height: 22px;
}

.outputTable > tbody > tr > td {
  font-family: Roboto Mono, @defaultFonts;
  font-size: 14px;
  line-height: 20px;
}

.outputTable > tbody > tr > td > span {
  opacity: 1;
}

.outputMatchColor {
  background-color: @lightGreen
}

.outputNotMatchColor {
  background-color: @lightRed
}
