@model uLearn.CoursePageModel
<a id="ask_question_window" data-toggle="modal" data-target="#myModal" href="#myModal">
	Задать вопрос по материалу
</a>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div id="AddQuestion" class="modal-dialog" data-url="@Url.Action("AddQuestion")">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Задать вопрос преподавателю</h4>
			</div>
			<div class="modal-body">
				<div>
					Ваш вопрос увидят преподаватели и смогут разобрать его на аудиторной практике.
					Кроме того, авторы курса смогут подправить материал так, чтобы он стал понятнее.
				</div>
				<textarea id="questField" class="ask-bar"> </textarea>
				<button class="btn btn-primary" id="sendButton" type="button" data-dismiss="modal" onclick="sendQuestion('@Model.Slide.Title', '@Model.Slide.Info.UnitName')">Отправить</button>
			</div>
		</div>
	</div>
</div>