@using uLearn.Quizes
@model QuizInfoModel
@{
	var value = "";
	var quizRes = "";
	var quizBlock = (FillInBlock)Model.CurrentBlock;
	if (Model.Passed && Model.CourseModel.AnswersToQuizes[quizBlock.Id].FirstOrDefault() != null)
	{
		value = Model.CourseModel.AnswersToQuizes[quizBlock.Id].FirstOrDefault();
		quizRes = Model.CourseModel.AnswersToQuizes[quizBlock.Id][1] == "False" ? "wrong-quiz" : "right-quiz";
	}
	var sample = quizBlock.Sample;
	<div class="quiz quiz-block-input">
		<label>
			<input autocomplete="off" class="form-control @quizRes" value="@value" id='@(quizBlock.Id + "quizBlock")'>
		</label>
	</div>
	if (Model.Passed)
	{
		<div>Правильный ответ: @sample</div>
	}
}