@model dynamic

<div class="modal fade" id="LoginForContinue" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Практика, практика и еще раз практика!</h4>
			</div>
			<div class="modal-body">
				<p>
					@Html.ActionLink("Войдите", "Index", "Login", new { returnUrl = Url.Action() }, null) или
					@Html.ActionLink("зарегистрируйтесь", "Register", "Account", new { returnUrl = Url.Action() }, null),
					чтобы отвечать на тесты и решать задачи.
				</p>
			</div>
		</div>
	</div>
</div>