@model uLearn.CoursePageModel
<ul class="side-bar units-list">
	@{
		int index = 0;
		int groupNumber = 0;
		string previousName = "";
		foreach (var unit in Model.Course.Slides.GroupBy(z => z.Info.UnitName))
		{
			var collapseOption = unit.First().Info.UnitName == Model.Slide.Info.UnitName ? "collapse in" : "collapse";
			var currentUnit = unit.First().Info.UnitName;
			if (previousName != currentUnit)
			{
				previousName = currentUnit;
				groupNumber++;
			}
			<li class="units-list-item">
				<a data-toggle="collapse" href=@("#N"+groupNumber) class="units-list-item-text">
					@currentUnit
				</a>
				<ul id=@("N"+groupNumber) class="slides-list @collapseOption">
					@for (; index < Model.Course.Slides.Length; index++)
					{
						var slide = Model.Course.Slides[index];
						if (slide.Info.UnitName != currentUnit)
						{
							break;
						}
						var selectedSlide = index == Model.SlideIndex;
						<li class="slide-list-item @(selectedSlide ? "selected" : "")">@Html.ActionLink(slide.Title, "Slide", "Course", new { courseId = Model.Course.Id, slideIndex = index }, null)</li>
					}
				</ul>
			</li>
		}
		<li class="slide-list-item">@Html.ActionLink("Progress", "TableAnalytics", "Analytics", new { courseId = Model.Course.Id, slideIndex = "0" }, null)</li>
	}
</ul>




