@model uLearn.CoursePageModel
<div class="side-bar">
	@{
		int index = 0;
		foreach (var unit in Model.Course.Slides.GroupBy(z => z.Info.UnitName))
		{
			var currentUnit = unit.First().Info.UnitName;
			<ul class="Unit">
				<li class="unit-name">
					@Html.ActionLink(currentUnit, "Slide", "Course", new { courseId = "BasicProgramming", slideIndex = 0 }, null)
					<ul>
						@for (; index < Model.Course.Slides.Length; index++)
						{
							var inf = Model.Course.Slides[index];
							if (inf.Info.UnitName != currentUnit)
							{
								break;
							}
							var selectedSlide = index == Model.SlideIndex;
							<li class="@(selectedSlide ? "selected" : "")">@Html.ActionLink(inf.Title, "Slide", "Course", new { courseId = "BasicProgramming", slideIndex = index }, null)</li>
						}
					</ul>
				</li>

			</ul>
		}
	}
</div>
