@using uLearn.Web.Views.Course
@model AcceptedSolutionsPageModel

@{
	ViewBag.Title = Model.CourseTitle;
}
@if (!Model.IsLti)
{
	<div class="slide">
		@AcceptedSolutionsHtml.AcceptedSolutions(Model)
	</div>
}
else
{
	Layout = null;
	<html>
	<head>
		<title>title</title>
		@Styles.Render("~/css")
	</head>
	<body>
	@AcceptedSolutionsHtml.AcceptedSolutions(Model)
	@Scripts.Render("~/main-js")
	</body>
	</html>
}