@using Ulearn.Core
@model IntructorNoteModel

@{
	ViewBag.Title = "Заметки преподавателю";
}


@Html.Action("TableOfContents", "SlideNavigation", new { courseId = Model.CourseId })

<div class="slide-container">
	<div class="container body-content">
		<div class="row">
			<div class='slide'>
				<h1>Заметки преподавателю
					<small>
						@if (Model.NoteEditUrl != null)
						{
							<a href="@Model.NoteEditUrl" target="_blank" style="margin-right: 5px"><span class="glyphicon glyphicon-pencil"></span></a>
						}
						@Model.Note.Unit.Title
					</small>
				</h1>
				<hr/>
				@Html.Raw(Model.Note.Markdown.RenderMarkdown(Model.Note.File))
			</div>
		</div>
	</div>
</div>
