@using Database.Models
@model LtiQuizModel

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<title>Quiz</title>
	@Styles.Render("~/katex/katex.min.css")
</head>
<body class="lti-component">
@if (Model != null)
{
	@Html.Action("Quiz", "Quiz", new
	{
		slide = Model.Slide,
		courseId = Model.CourseId,
		userId = Model.UserId,
		isLti = true,
		isGuest = false,
		manualQuizCheckQueueItem = (ManualQuizChecking)null,
	})
}
</body>
</html>