@model string[]

<div class="modal fade" id="selectGroupModal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Выберите группу</h4>
			</div>
			<div class="modal-body">
				<p>
					Если вы занимаетесь очно в университете или в группе с преподавателем, то укажите навание вашей группы.
					Это поможет преподавателям составить списки своих групп.
				</p>
				<p>
					Если вы вольнослушатель и планируете заниматься только самостоятельно, просто нажмите &laquo;Далее&raquo;.
				</p>
				@using (Ajax.BeginForm("SelectGroup", new AjaxOptions() { OnComplete = "$('#selectGroupModal').modal('hide');" }))
				{
					<div class="form-group">
						<input name="groupName" class="form-control" type="text" list="groupsList" autofocus />
						<datalist id="groupsList">
							@foreach (var group in Model)
							{
								<option>@group</option>
							}
						</datalist>
					</div>
					<button class="btn btn-primary" type="submit">Далее</button>
				}
			</div>
		</div>
	</div>
</div>
