@using Ulearn.Core.Extensions
@using uLearn.Web.Extensions
@using Vostok.Logging.Abstractions

@model uLearn.Web.Controllers.ExerciseLastReviewCommentModel

<div class="last-review-comments">
	<div>
		<strong>Комментари@(Model.NotDeletedReviews.Count > 1 ? "и" : "й") <a href="@Url.Action("UserSolutions", "Analytics", new { courseId = Model.ReviewedSubmission.CourseId, slideId = Model.ReviewedSubmission.SlideId, userId = Model.ReviewedSubmission.UserId, version = Model.ReviewedSubmission.Id })" target="_blank">последнего код-ревью</a>:</strong>
	</div>
	
	@{
		var solution = Model.ReviewedSubmission.SolutionCode.Text;
    }

	@foreach (var review in Model.NotDeletedReviews)
	{
		var commentedCode = "";
		try
		{
			var startPosition = solution.FindPositionByLineAndCharacter(review.StartLine, review.StartPosition);
			var finishPosition = solution.FindPositionByLineAndCharacter(review.FinishLine, review.FinishPosition);
			var code = solution.Substring(startPosition, finishPosition - startPosition);
			commentedCode = code.TruncateWithEllipsis(30);
		}
		catch (ArgumentOutOfRangeException exception)
		{
			LogProvider.Get().Error(exception, "Review {Id} {StartLine} {StartPosition} {FinishLine} {FinishPosition} CodeHash {CodeHash}",
				review.Id, review.StartLine, review.StartPosition, review.FinishLine, review.FinishPosition, Model.ReviewedSubmission.SolutionCode.Hash);
		}
		<div>
			<span class="commented-code">@commentedCode</span>
			@review.Comment
		</div>
	}
</div>