@using Ulearn.Common
@using Ulearn.Common.Extensions

@model List<Database.Models.ExerciseCodeReview>

@{
	var reviews = Model
		.Where(r => r.ExerciseCheckingId.HasValue)
		.GroupBy(r => r.Comment)
		.OrderByDescending(g => g.Count())
		.ThenByDescending(g => g.Max(r => r.ExerciseChecking.Timestamp))
		.Take(50)
		.ToList();
}

@if (reviews.Any())
{
	<h3>
		<a class="internal-page-link cursor-pointer" data-target="#slide__code-review__comments" data-toggle="collapse">Комментарии в&nbsp;код-ревью</a>
	</h3>

	<div class="slide__code-review__comments collapse" id="slide__code-review__comments">
		@foreach (var group in reviews)
		{
			var review = group.Key;
			<div>
				<span class="commented-code">@review</span>
				@group.Count().PluralizeInRussian(new RussianPluralizationOptions { One = "раз", Two = "раза", Five = "раз", Gender = Gender.Male, hideNumberOne = false, smallNumbersAreWords = true }),
				@string.Join(", ", group.DistinctBy(r => r.AuthorId).Select(r => r.Author.VisibleName))

			</div>
		}
	</div>
}