@using uLearn.Web.Extensions
@using Ulearn.Common.Extensions

@model uLearn.Web.Controllers.UserCertificatesViewModel

@* <h1 class="breathing-page-header">Сертификаты</h1> *@

@if (!Model.Certificates.Any())
{
    <div class="certificates-list__info">
        <p>
            Вы пока не&nbsp;получили ни&nbsp;одного сертификата за&nbsp;прохождение курсов.
        </p>
        <p>
            Преподаватели выдают сертификаты отличившимся студентам.
        </p>
    </div>
}

@{ var certificateIndex = 1; }
@foreach (var certificate in Model.Certificates)
{
    <h4>
        @certificateIndex. @Html.RouteLink(
                               "Сертификат за курс «" + Model.CoursesTitles.GetOrDefault(certificate.Template.CourseId.ToLower(), "") + "»",
                               "Certificate",
                               new { certificateId = certificate.Id }
                               )
    </h4>
    <div>
        Сертификат выдан
        <span class="text-muted" title="@certificate.Timestamp.ToPrettyString()">@certificate.Timestamp.ToLongDateString()</span>
    </div>
    certificateIndex++;
}
