@import "../../../variables";

.progressBarContainer {
  display: flex;
  align-items: stretch;
  max-height: 32px;
}

.progressBarElement {
  color: white;
  overflow: hidden;
  font-family: @defaultFonts;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
}

.statusUnseen {
  order: 1;
  background: @statusUnseenColor;
}

.statusVeryBad {
  background: @statusVeryBadColor;
}

.statusBad {
  background: @statusBadColor
}

.statusAverage {
  background: @statusAverageColor
}

.statusGood {
  background: @statusGoodColor
}

.statusExcellent {
  background: @statusExcellentColor
}