@using Database.Extensions
@using Database.Models
@using uLearn.Web.Extensions
@using uLearn.Web.Views.Course
@model dynamic
@{
	ViewBag.Title = "Run code";
}

<div class="container">
	@if (User.HasAccess(CourseRole.Instructor))
	{
		@SlideHtml.CodeTextArea(@"using System;

namespace uLearn {
	class Program {
		public static void Main(string[] args) {
			Console.Out.WriteLine(""Hello, World!"");
		}
	}
}", "cs", Url.Action("Run", "Sandbox"))
	}
</div>
