.solutionsList {
  display: table;
  width: 100%;
  margin-top: 20px;
}
.solution {
  display: table-row;
  width: 100%;
}
.controls {
  display: table-cell;
}
.button {
  margin-bottom: 10px;
  min-width: 60px;
}
.codeCell {
  display: table-cell;
  padding-left: 10px;
  width: 100%;
  vertical-align: top;
}
.solution:not(:last-child) .codeCell {
  padding-bottom: 5px;
}
