@import "./../../../../variables";

.resultsContainer {
  font-family: @defaultFonts;
}

.headerText {
  font-size: 16px;
  line-height: 25px;
}

.footer {
  color: @additionalColor;
  font-size: 10px;
  line-height: 30px;
  text-transform: uppercase;
}

.footerLine {
  width: 310px;
  height: 0;

  opacity: 0.2;
  border: 2px solid #000000;
}

.resultsElement {
  width: 70px;
  height: 70px;

  color: #fff;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 2px #fff;

  text-align: center;
  font-size: 36px;
  line-height: 25px;

  margin-right: 15px;
}

.resultsElement:hover,
.resultsElement:focus {
  cursor: pointer;
}

.resultsElement:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, .5);
}

.resultsElement:hover span,
.resultsElement:focus span {
  display: none;
}

.resultsVeryBad:hover:before,
.resultsVeryBad:focus:before {
  content: ':\'(';
}

.resultsBad:hover:before,
.resultsBad:focus:before {
  content: ':(';
}

.resultsAverage:hover:before,
.resultsAverage:focus:before {
  content: ':|';
}

.resultsGood:hover:before,
.resultsGood:focus:before {
  content: ':)';
}

.resultsExcellent:hover:before,
.resultsExcellent:focus:before {
  content: ';D';
}

.resultsVeryBad {
  background: @statusVeryBadColor;
  border: 1px solid @statusVeryBadColor;
}

.resultsBad {
  background: @statusBadColor;
  border: 1px solid @statusBadColor;
}

.resultsAverage {
  background: @statusAverageColor;
  border: 1px solid @statusAverageColor;
}

.resultsGood {
  background: @statusGoodColor;
  border: 1px solid @statusGoodColor;
}

.resultsExcellent {
  background: @statusExcellentColor;
  border: 1px solid @statusExcellentColor;
}