[Unit]
Description=RunCheckerJob Service
After=network.target

[Service]
Type=simple
User=ulearn
Group=ulearn
WorkingDirectory=/ulearn/
ExecStart=%ExecStart%
Restart=always

[Install]
WantedBy=multi-user.target