.mark {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  margin-left: 10px;
  border-radius: 3px;
}

.correctAnswer, .pinnedToTop {
  padding: 0 6px 1px;
  color: #fff;
}

.correctAnswer {
  background: #3F9726;
}

.pinnedToTop {
  background: #3072C4;
}

.hiddenComment {
  padding: 0 10px;
  background: #F2F2F2;
  border: 1px solid #E5E5E5;
  color: #A0A0A0;
}

.text {
  margin-left: 3px;
}
