{
  "presets": [
	[
	  "@babel/preset-env",
	  {
		"targets": {
		  "browsers": [
			"last 4 versions",
			">0.25%"
		  ]
		},
		"modules": false,
		"useBuiltIns": "usage"
	  }
	],
	"react-app"
  ],
  "plugins": [
	"@babel/plugin-proposal-class-properties"
  ]
}