# Browsers that we support

> 0.25%
last 4 versions
last 4 Firefox versions
last 4 Chrome versions
last 4 ChromeAndroid versions
last 4 Edge versions
last 4 iOS versions
last 4 Safari versions
last 4 Opera versions
last 4 OperaMobile versions
not dead
