@import "./../../../variables.less";
@minHeight: calc(100vh - 60px);

html, body, #root {
  height: 100%;
}

body {
  font-family: "Segoe UI",Arial,sans-serif;
  margin: 0;
  padding-bottom: 0;
}

a {
  text-decoration: none;
}

button {
  border: 0;
  color: #404040;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 14px;
  margin: 0;
  outline: 0;
  overflow: visible;
  position: relative;
  border-radius: 2px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
}

.wrapper {
  width: 100%;
  background-color: #f2f2f2;
  margin: 0 auto;
  min-height: @minHeight;
}

.content-wrapper {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  height: 100%;
  min-height: @minHeight;

  @media (max-width: @maxTabletWidth) {
	width: 100%;
  }

}