@import "./../../../../variables.less";

.wrapper {
  display: flex;
  align-items: baseline;
}

.action {
  border: 0;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline: none;

  &:hover {
    color: @darkGrey;
  }
}

.count {
  color: @additionalColor;
  font-size: 14px;
  margin-left: 3px;
}
