@import "../../../../variables.less";
@indent: 27px;

.wrapper {
  padding: 0 @indent 15px;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;

  &:hover {
	background-color: rgba(0,0,0,.02);
  }
}

.content-wrapper {
  font-size: 14px;
  cursor: pointer;
  width: 100%;
}

.link-to-group-page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
}

.content-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: @maxTabletWidth) {
	flex-direction: column;
  }
}

.content {
  width: 55%;
  align-self: baseline;

  @media (max-width: @maxTabletWidth) {
	width: 100%;
  }
}

.group-name {
  font-size: 18px;
  color: @linkColor;
  margin-bottom: 7px;
  opacity: 0.99;
  z-index: 1;

  &:hover {
	text-decoration: underline;
  }
}

}

.link-to-group-members {
  opacity: 0.99;
  z-index: 1;
.group-settings {
  width: 35%;
  align-self: flex-end;

  @media (max-width: @maxTabletWidth) {
	width: 100%;
  }
}

.settings-on{
  color: @successColor;
}

.settings-off {
  color: @accentColor;
}

.group-action {
  justify-self: end;
  margin-right: 5px;
  height: 30px;
  cursor: pointer;
  align-self: baseline;
  z-index: 1;

  @media (max-width: @maxPhoneWidth) {
	margin-right: 0;
  }
}