@import "../../../../variables.less";

.group {
  width: 103%;
  padding: 0 0 15px 27px;
  transition: 0.3s ease-in;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  box-shadow: none;
  background: #fff;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  cursor: pointer;

  &:hover {
	//box-shadow: 5px 4px 10px 0px rgba(20, 23, 28, 0.1);
	background-image: linear-gradient(rgba(255,255,255,1),rgba(229,229,229,0.3));
  }
}

.group-content-wrapper {
  flex-grow: 1;
  font-size: 14px;
  cursor: pointer;

  @media (max-width: @maxPhoneWidth) {
	font-size: 12px;
  }
}

.group-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: @maxTabletWidth) {
	flex-direction: column;
  }
}

.group-content-main {
  width: 55%;
  align-self: baseline;

  @media (max-width: @maxTabletWidth) {
	width: 100%;
  }

  @media (max-width: @maxPhoneWidth) {
	width: 100%;
  }
}

.group-content-main__name {
  font-size: 18px;
  color: #337ab7;
  margin-bottom: 7px;
}

.group-content-main__teachers,
.group-content-main__count {
  color: #333;
  opacity: 80%;
}

.group-content-state {
  width: 35%;
  align-self: flex-end;

  span {
	margin-right: 5px;
  }

  @media (max-width: @maxTabletWidth) {
	width: 100%;
  }

  @media (max-width: @maxPhoneWidth) {
	display: none;
  }
}

.group-content-state_on {
  color: #3F9726;
}

.group-content-state_off {
  color: #D97E00;
}

.group-action {
  justify-self: end;
  margin-right: 20px;
  height: 30px;
  cursor: pointer;
  align-self: baseline;

  @media (max-width: @maxPhoneWidth) {
	margin-right: 0;
  }
}