@using uLearn.Web.Extensions
@using Ulearn.Common.Extensions
@model Database.Models.Comment

@{
	var htmlCommentText = Html.EncodeMultiLineText(Model.Text);
	htmlCommentText = htmlCommentText.RenderSimpleMarkdown();
	htmlCommentText = Html.HighlightLinks(htmlCommentText);
}
<div class="comment__text" data-original-text="@Model.Text">@Html.Raw(htmlCommentText)</div>