<footer>
	<div>
		<p>
			Это ulearn — платформа с&nbsp;интерактивными онлайн-курсами по&nbsp;программированию.
		</p>
		<p>
			Сделано в&nbsp;<a href="https://kontur.ru">СКБ Контур</a>.
			@Html.ActionLink("Условия использования", "Terms", "Home").
		</p>
		<p>С&nbsp;вопросами и пожеланиями пишите на&nbsp;<a href="mailto:support@ulearn.me">support@ulearn.me</a>.
		</p>
	</div>
</footer>
