@{
	var groups = new[]
	{
		"КБ-101 УрФУ",
		"КН-101 УрФУ", "КН-102 УрФУ",
		"ПИ-101 УрФУ",
		"ФИИТ-101 УрФУ",
		"ИжГТУ",
		"УдГУ",
		"Вольнослушатель"
	};
}

<datalist id="groupsList">
	@foreach (var group in groups)
	{
		<option>@group</option>
	}
</datalist>