@using Microsoft.AspNet.Identity
@using FormMethod = System.Web.Mvc.FormMethod

<div class="hijack__panel">
    @using (Html.BeginForm("ReturnHijack", "Account", FormMethod.Post))
    {
	    if (User.Identity.IsAuthenticated)
	    {
		    <div>
                Вы работаете под пользователем @(User.Identity.GetUserId()) <button class="btn btn-default btn-xs">Вернуться</button>
            </div>
	    }
	    else
	    {
		    <div>
                Вы работали под другим пользователем <button class="btn btn-default btn-xs">Вернуться</button>
            </div>
	    }
    }
</div>
