@using uLearn.Web.Extensions

@if (User.HasAccess(CourseRole.Instructor))
{
	<div class="modal fade" id="ulearnUpdateInvitationsModal" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Рассказываем об обновлениях</h4>
				</div>
				<div class="modal-body">
					<p>
						Мы меняемся, делая ulearn удобнее для студентов и преподавателей.
						К началу нового семестра мы добавили для вас полезные функции: копирование групп между курсами,
						коллекция архивных (неиспользуемых) групп, настраиваемое код-ревью и многое другое.
					</p>
					<p>
						Обо всех важных изменениях мы теперь пишем в Гугл-группу <a href="https://groups.google.com/forum/#!forum/ulearn-updates" target="_blank">ulearn-updates</a>.
						Подписывайтесь и настраивайте получение уведомлений обо всех новых сообщениях на электронную почту.
					</p>
					<p>
						<a class="btn btn-large btn-primary" href="https://groups.google.com/forum/#!forum/ulearn-updates" target="_blank">Посмотреть группу</a>
						<span class="text-muted">(откроется в новой вкладке)</span>
					</p>
					<p>
						А в конце прошлого года мы переехали на более мощные сервера&nbsp;&mdash; теперь все странички грузятся шустрее,
						а решения проверяются в два раза быстрее.
					</p>
					<p>
						Всегда ваши, <br/>команда ulearn.me. <br/>Пишите нам на <a href="mailto:support@ulearn.me">support@ulearn.me</a>.
					</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" data-dismiss="modal">Закрыть</button>
				</div>
			</div>
		</div>
	</div>
}