<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
		<add key="submissionsUrl" value="https://localhost:44300/"/>
		<add key="runnerToken" value="F9388330-FF77-41B4-9011-1785F780C1CF"/>
		<add key="sleepSeconds" value="1"/>
		<add key="jobsToRequest" value="5"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
