@model Database.Models.Group

@{
	ViewBag.Title = "Присоединиться к группе";
}

<div class="container">
	<h1>Присоединиться к&nbsp;группе</h1>

	<div class="row">
		<form method="POST" action="">
			@Html.AntiForgeryToken()
			<p>
				@Model.Owner.VisibleName приглашает вас присоединиться к&nbsp;группе «@Model.Name».
				Преподаватели группы смогут проверять ваши задания и тесты, проводить код-ревью и выставлять вам дополнительные баллы.

				@if (Model.CanUsersSeeGroupProgress)
				{
					<text>Вступив, вы сможете смотреть ведомость всей группы прямо на&nbsp;сайте.</text>
				}
			</p>
			<p class="help-block">
				Чтобы преподаватели могли связаться с&nbsp;вами в&nbsp;случае необходимости, мы покажем им вашу электронную почту и привязанные аккаунты социальных сетей.
			</p>
			<button class="btn btn-success btn-large">Присоединиться</button>
		</form>
	</div>
</div>