@using uLearn
@model Database.Models.Group

@{
	ViewBag.Title = "Присоединться к группе";
}

<div class="container">
	<h1>Вступить в&nbsp;группу</h1>

	<form method="POST" action="">
		@Html.AntiForgeryToken()
		<p>
			@Model.Owner.VisibleName пригласил@(Model.Owner.Gender.ChooseEnding()) вас присоединиться к&nbsp;группе «@Model.Name».
			Преподаватели группы смогут проверять ваши задания и тесты, проводить код-ревью и выставлять вам дополнительные баллы. 
			Вступив, вы сможете смотреть ведомость всей группы прямо на&nbsp;сайте.
		</p>
		<p class="help-block">
			Чтобы преподаватели могли связаться с&nbsp;вами в&nbsp;случае необходимости, мы покажем им вашу электронную почту и привязанные аккаунты социальных сетей.
		</p>
		<button class="btn btn-success btn-large">Присоединиться</button>
	</form>
</div>

