@model uLearn.Web.Controllers.ManualCheckingQueueViewModel

@using (Html.BeginForm(Url.RequestContext.RouteData.GetRequiredString("Action"), "Admin", FormMethod.Get, new { @class = "form-inline", id = "manual-checking-queue-filter-form" }))
{
	@Html.Hidden("courseId", Model.CourseId)
	@Html.Hidden("done", Model.AlreadyChecked)

	@Html.Partial("~/Views/Shared/_GroupsFilter.cshtml", new GroupsFilterViewModel
	{
		CourseId = Model.CourseId,
		SelectedGroupsIds = Model.SelectedGroupsIds,
		Groups = Model.Groups,
	})

	<div class="form-group">
		<button role="button" class="btn btn-primary">Отфильтровать</button>
	</div>
}