@model string

@{
	ViewBag.Title = Model;
}

<div class="container">
	<h1>
		Генерация сертификатов
	</h1>

	<div class="alert alert-danger">
		Ошибка: <strong>@Model</strong>. <a href="javascript:history.back()">Вернитесь назад</a> и попробуйте ещё раз.
	</div>
</div>