@model uLearn.Web.Controllers.ManualQuizCheckQueueViewModel

@{
	ViewBag.Title = "Очередь на проверку";
}

@Html.Action("ManageMenu")


<div class="slide-container">
	<h3>Очередь на проверку</h3>

	@if (! string.IsNullOrEmpty(Model.Message) && Model.Checks.Count > 0)
	{
		<div class="alert alert-danger">
			@if (Model.Message == "already_checked")
			{
				<p>Эта работа уже проверена, выберите другую</p>
			}
			@if (Model.Message == "locked")
			{
				<p>Эта работа проверяется другим инструктором, выберите другую</p>
			}
			@if (Model.Message == "slide_checked")
			{
				<p>Для этого слайда больше нет непроверенных работ</p>
			}
		</div>
	}

	@if (Model.Checks.Count == 0)
	{
		<div class="alert alert-success">Поздравляем, очередь пуста! Работ для проверки нет</div>
		<div>Здесь будут появляться ответы студентов на тесты, которые должны быть проверены инструктором вручную.</div>
	}

	@foreach (var checkModel in Model.Checks)
	{
		var check = checkModel.QuizCheckQueueItem;
		<div>
			<div>
				@check.User.VisibleName заполнил тест «@checkModel.ContextSlideTitle»
			</div>
			<div>
				@if (check.IsLocked)
				{
					<p>Проверяется инструктором @check.LockedBy.VisibleName</p>
				}
				else
				{
					@Html.ActionLink("Перейти к проверке →", "Check", new { id = check.Id }, new { @class = "btn btn-sm btn-success" })
				}
			</div>
			<hr/>
		</div>
	}
</div>
