@model string[]


@if (Model.Any())
{
	foreach (var error in Model)
	{
		<pre>@error</pre>
	}
	<p>
		Включите в архив с курсом файл dictionary.txt (и укажите в файле course.xml тег &lt;dictionaryFile&gt;dictionary.txt&lt;/dictionaryFile&gt;) с исключениями, чтобы убрать ложные срабатывания.

		Формат файла dictionary.txt — по одному слову в строке. Через двоеточие можно указать известное слово, которое склоняется так же как и новое.
		Пример:

		<pre>
биткоин:воин
очепятки:опечатки
распознаться:делаться
Ктулху
шарп:карп
		</pre>

	</p>
}
else
{
	<p>Орфографических ошибок нет</p>
}