@model uLearn.Web.Controllers.NotificationsSelectCourseViewModel

@{
    ViewBag.Title = "Настройка уведомления";
}

<h2>Настройка уведомлений</h2>

<p class="text-center">
    Выберите курс, для которого вы хотите настроить уведомления.
</p>

<!-- TODO -->
