@model uLearn.Web.Controllers.SuggestMailTransportViewModel

<div class="modal fade" id="suggest-mail-transport__modal" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Получайте новости на&nbsp;почту</h4>
			</div>
			<div class="modal-body">
				<p>
					Теперь вы можете получать на&nbsp;почту новости о&nbsp;том, что происходит в курсе.
					Вы получите новые комментарии, присланные вам на проверку работы и другие уведомления.
				</p>
				<p>
					Вы всегда сможете настроить, какие новости получать, или вовсе отказаться от уведомлений.
					Настройки находятся в&nbsp;<a href="@Url.Action("Manage", "Account")">вашем профиле</a>.
				</p>
				<p>
					Также вы можете получать уведомления себе в&nbsp;телеграм. Для этого напишите нашему боту
					<a href="https://t.me/@Model.TelegramBotName">@@@Model.TelegramBotName</a>.
				</p>
				<p>
					<a class="btn btn-large btn-success" href="@Url.Action("EnableNotificationTransport", "Notifications", new
					                                           {
						                                           transportId = Model.Transport.Id,
						                                           enable = true,
						                                           timestamp = Model.LinkTimestamp,
						                                           signature = Model.LinkSignature,
						                                           next = Request.RawUrl
					                                           })">
						Получать новости на&nbsp;почту
					</a>
				</p>
				<p>
					Всегда ваши, <br/>команда ulearn.me. <br/>Пишите нам на <a href="mailto:support@ulearn.me">support@ulearn.me</a>.
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" data-dismiss="modal">Закрыть</button>
			</div>
		</div>
	</div>
</div>