<!-- Replace default values in config with your values -->
<Config>
	<!-- Hostname of OpenEdx Studio instance -->
	<Hostname>openedu.urfu.ru</Hostname>
	<!-- Port of OpenEdx Studio instance -->
	<Port>8081</Port>
	<!-- Name of the organization that you used when creating a course -->
	<Organization>UrFU</Organization>
	<!-- Course Number that you used when creating a course -->
	<CourseNumber>IMCS.b.CS-0093</CourseNumber>
	<!-- Course Run that you used when creating a course -->
	<CourseRun>2015</CourseRun>
	<!-- If you use uLearn Exercise slides this must be set correctly -->
	<ExerciseUrl>https://ulearn.azurewebsites.net/Course/{0}/LtiSlide/{1}</ExerciseUrl>
	<!-- If you use uLearn Exercise slides this must be set correctly -->
	<SolutionsUrl>https://ulearn.azurewebsites.net/Course/{0}/AcceptedAlert/{1}</SolutionsUrl>
	<!-- Lti Id used to access Exercise slides -->
	<LtiId>edx</LtiId>
	<!-- Id of corresponding uLearn course -->
	<ULearnCourseId>BasicProgramming</ULearnCourseId>
	<!-- Path to video json -->
	<Video>video.json</Video>
	<IgnoredUlearnSlides>
		<!-- ULearn slides to skip during conversion and patching	-->
		<!--
		<SlideId>1</SlideId>
		<SlideId>2</SlideId>
		-->
	</IgnoredUlearnSlides>
</Config>