<!-- Replace default values in config with your values -->
<Config>
	<!-- Name of the organization that you used when creating a course -->
	<Organization>UrFU</Organization>
	<!-- Lti Id used to access Exercise slides -->
	<LtiId>edx</LtiId>
	<!-- Id of corresponding uLearn course -->
	<ULearnCourseId>BasicProgramming</ULearnCourseId>
	<!-- Path to video json -->
	<Video>video.json</Video>
	<IgnoredUlearnSlides>
		<!-- ULearn slides to skip during conversion and patching	-->
		<!--
		<SlideId>1</SlideId>
		<SlideId>2</SlideId>
		-->
	</IgnoredUlearnSlides>
	<EmitSequentialsForInstructorNotes>false</EmitSequentialsForInstructorNotes>
	<!-- Here you can set up your profiles -->
	<Profiles>
		<!-- the 'default' profile will be used when patching/converting if not specified -->
		<Profile name="default">
			<UlearnUrl>https://ulearn.me</UlearnUrl>
		</Profile>
		<Profile name="dev">
			<UlearnUrl>http://localhost:3000</UlearnUrl>
		</Profile>
	</Profiles>
</Config>