.main {
  	display: grid;
	grid-template-columns: 3fr 1fr;
}

.react-json-view {
	height: 300px;
	overflow: scroll;
}

::-webkit-scrollbar {
	display: none;
}

.CodeMirror-gutter {
	width: 10px;
}

.fields {
  display: flex;
}
