.main {
  	display: grid;
	grid-template-columns: 3fr 1fr;
}

.react-json-view {
	height: 300px;
	overflow: scroll;
	border-left: 1px solid #999;
	padding-left: 10px;
}

.main ::-webkit-scrollbar {
	display: none;
}

.CodeMirror-gutter {
	width: 10px;
}

.active-line {
	background-color: #214283;
	opacity: 50%;
}
