.main {
  display: flex;
  width: 1000px;
}

#code-mirror {
	border: 1px solid gray;
	max-width: 60%;
	min-width: 60%;
}

.lol {
	border: 2px solid red;
}

.CodeMirror-gutter {
	width: 10px;
}

.fields {
  display: flex;
}
