@import "../../commonStyles.less";

.action {
  margin-right: 20px;

  button:hover {
    text-decoration: none;
  }
}

.actions {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin: 5px 0 20px;
  cursor: pointer;
}
