<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>
    <connectionStrings>
        <!-- ConnectionString для подключения к Graphite-relay в формате "address=graphite-relay.com;port=8125;prefixKey=ulearn.local". Можно оставить пустой, чтобы не отправлять метрики -->
        <add name="statsd" connectionString="address=graphite-test;port=8125;transport=Tcp;prefixKey=ulearn.local"/>
    </connectionStrings>
	<appSettings>
		<!-- Url to Ulearn.Web instance. I.E. https://ulearn.me -->
		<add key="submissionsUrl" value="https://localhost:44300/" />
		<!-- Must be equal on Ulearn.Web and RunCheckerJob instance -->
		<add key="runnerToken" value="F9388330-FF77-41B4-9011-1785F780C1CF" />
		<add key="sleepSeconds" value="1" />
		<add key="ulearn.runcheckerjob.threadsCount" value="1" />
		<!-- By default agentName is computer name -->
		<add key="ulearn.runcheckerjob.agentName" value="" />
		<!-- Directory for compiling msbuild solutions. By default it's ./submissions in current directory -->
		<add key="ulearn.runcheckerjob.submissionsWorkingDirectory" value="" />
		<!-- Delete submissions after checking -->
		<add key="ulearn.runcheckerjob.deleteSubmissions" value="true" />
		<add key="ulearn.telegram.botToken" value="" />
		<!-- Канал в телеграме, куда отправлять информацию об ошибках -->
		<add key="ulearn.telegram.errors.channel" value="" />
		<!-- Раз в сколько секунд посылать метрику keep alive -->
		<add key="ulearn.runcheckerjob.keepAlive.interval" value="20" />
	</appSettings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
	</startup>
	<log4net>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="FileAppender" />
			<appender-ref ref="ConsoleAppender" />
		</root>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="logs\\runcheckerjob.log" />
			<appendToFile value="true" />
			<encoding value="utf-8" />
			<layout type="log4net.Layout.PatternLayout">
				<param name="ConversionPattern" value="%date [%thread] %-5level %logger — %message%newline" />
			</layout>
		</appender>
		<appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<foreColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger — %message%newline" />
			</layout>
		</appender>
	</log4net>
	<runtime>
	</runtime>
</configuration>
