@import "../../../courseVariables";

.wrapper {
  margin-bottom: 10px;
}

.editor {
  height: auto;
  width: auto;
  border: 1px solid @lightGrey;
  border-radius: 8px;
  background-color: @white;

  font-size: 10px;
  line-height: 20px;
}

@media (min-width: @minTabletWidth) {
  .editor {
    font-size: 14px;
  }
}
