@import "../../../../courseVariables";

@minCommentWidth: 260px;

.reviewsContainer {
  background-color: @lightYellow;
  min-width: @minCommentWidth;
  margin-left: -10px;
}

.reviewsContainer :last-child {
  margin-bottom: 5px;
}

.comment {
  position: relative;
  margin-left: 14px;
  padding: 16px;

  max-width: calc(@minCommentWidth - 18px);

  background: @white;
  box-shadow: 0 6px 6px -6px @black;

  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 8px;

  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.selectedReviewCommentWrapper {
  margin-left: 2px;
  transition: margin-left 0.3s ease-in-out;
}

.authorWrapper {
  display: flex;
  align-items: center;
}

.commentAvatar {
  width: 24px;
  height: 24px;

  min-width: 24px;
}

.authorCredentialsWrapper {
  display: inline-block;
  margin-left: 8px;
}

.commentLine {
  margin-left: 8px;
  color: @additionalColor;
}

.addingTime {
  font-size: 12px;
  line-height: 16px;

  margin-bottom: 0;

  color: @additionalColor;
}

.commentText {

}