@import "./../../../variables.less";

.repliesWrapper {
  width: 100%;

  @media(max-width: @maxPhoneWidth) {
    margin-left: 30px;
    width: inherit;
  }
}

.reply {
  margin-top: 15px;
  width: 100%;

  @media(max-width: @maxPhoneWidth) {
    margin-top: 10px;
  }
}

.replyForm {
  padding-right: 20px;
  width: 100%;
}

/*classes for react-transition-group*/
.enter {
  background-color: rgba(40,153,234, 0.3);
  //background: #cce9f7;
}

.enterActive  {
  background-color: transparent;
  transition: background 1000ms ease;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0.01;
  transition: opacity 500ms ease;
}