root=true
# stop looking for other EditorConfig files upward in directory tree

# В настройках включить удаление пробелов:
# Rider: Settings->Editor->General->Strip trailing spaces on save All

[*]
charset=utf-8
end_of_line=crlf
insert_final_newline=false
indent_style=tab
indent_size=4

# ReSharper properties
resharper_alignment_tab_fill_style=use_tabs_only
resharper_csharp_keep_blank_lines_in_code=1
resharper_csharp_max_line_length=999
resharper_csharp_wrap_multiple_declaration_style=wrap_if_long
resharper_enforce_line_ending_style=true
resharper_indent_nested_for_stmt=true
resharper_keep_existing_attribute_arrangement=true
resharper_place_accessorholder_attribute_on_same_line=False
resharper_place_constructor_initializer_on_same_line=false
resharper_place_field_attribute_on_same_line=if_owner_is_single_line
resharper_place_simple_embedded_statement_on_same_line=False
resharper_space_within_single_line_array_initializer_braces=true
resharper_use_indents_from_main_language_in_file=false
resharper_use_indent_from_vs=false
resharper_wrap_for_stmt_header_style=wrap_if_long
resharper_wrap_linq_expressions=wrap_if_long
resharper_wrap_multiple_type_parameter_constraints_style=wrap_if_long
resharper_wrap_object_and_collection_initializer_style=wrap_if_long
resharper_wrap_ternary_expr_style=wrap_if_long
resharper_xml_indent_text=DoNotTouch
resharper_xml_max_line_length=600
resharper_xml_wrap_lines=false
resharper_xml_wrap_tags_and_pi=false

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers=false
csharp_new_line_between_query_expression_clauses=false
csharp_preferred_modifier_order=public, private, protected, internal, new, abstract, virtual, sealed, override, static, readonly, extern, unsafe, volatile, async:suggestion
csharp_space_after_cast=false

[*.csproj}]
indent_style=spaces
indent_size=spaces
tab_width=2

[*.{appxmanifest,asax,ascx,aspx,build,cs,cshtml,dtd,fs,fsi,fsscript,fsx,master,ml,mli,nuspec,razor,resw,resx,skin,vb,xaml,xamlx,xoml,xsd}]
indent_style=tab
indent_size=tab
tab_width=4
