@model Ulearn.Core.Courses.Slides.Blocks.ImageGalleryBlock
<div class="flexslider">
	<ul class="slides">
		@foreach (var imageUrl in Model.ImageUrls)
		{
			<li>
				<img src="@imageUrl" alt="@imageUrl"/>
			</li>
		}
	</ul>
</div>