@model Ulearn.Core.Courses.Slides.Blocks.YoutubeBlock
<div class="video-container">
	<iframe class='embedded-video' width='864' height='480' src='//www.youtube.com/embed/@Model.VideoId' frameborder='0' allowfullscreen></iframe>
</div>
<div>
	<a href="javascript://" class="popover-trigger"
		title="Как ускорить видео?"
		data-content="Если по иконке с шестеренкой нет возможности ускорить видео, то вам нужно &lt;a target='blank' href='http://youtube.com/html5'>вручную включить&lt;/a> использование HTML5-плеера.">
		Как ускорить видео?
	</a>
</div>
