
@helper Popup()
{
	<div class="popup-fade">
		<div class="popup">
			@SubmitCommentButton()
			<a class="popup-close" href="#">Отмена</a>
			<input id="comment">
		</div>
	</div>
	<style>
    .popup-fade {
        display: none;
    }
    .popup-fade:before {
        content: '';
        background: #000;
        position: fixed; 
        left: 0;
        top: 0;
        width: 100%; 
        height: 100%;
        opacity: 0.7;
        z-index: 9999;
    }
    .popup {
        position: fixed;
        top: 20%;
        left: 50%;
        padding: 20px;
        width: 360px;
        margin-left: -200px;    
        background: #fff;
        border: 1px solid orange;
        border-radius: 4px; 
        z-index: 99999;
        opacity: 1;    
    }
    .popup-close {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    </style>
	<script src="https://yandex.st/jquery/2.1.1/jquery.min.js"></script>
	<script>
    $(document).ready(function($) {
           
        
        $('.popup-close').click(function() {
            $(this).parents('.popup-fade').fadeOut();
            return false;
        });     
        
    
        
    });
    </script>
}

@helper SubmitCommentButton()
{
	<a class="popup-submit" href="#" onclick="SubmitComment(this)">Сохранить</a>
}