<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<log4net>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file type="log4net.Util.PatternString" value="C:\\ulearn\\logs\\runcsjob#{ulearn.runcsjob.logDirectorySuffix}\\%date{yyyy-MM-dd}.log" xdt:Transform="SetAttributes" />
		</appender>
	</log4net>
</configuration>
