@maxLaptopWidth: 1280px;
@maxTabletWidth: 991px;
@maxPhoneWidth: 767px;

@headerHeight: 50px;
@headerDivider: 10px;
@negativeColor: #CE0014;
@likeColor: #D70C17;
@accentColor: #F69C00;
@lightYellow: #FFF0BC;
@successColor: #228007;
@green: #5cb85c;
@blue: #0087d5;
@linkColor: #3072C4;
@linkHoverColor: #23527c;
@dimgray: #696969;
@darkGrey: #616161;
@additionalColor: #808080;
@disabledColor: #A0A0A0;
@geinsboro: #DADADA;
@lightGrey: #E5E5E5;
@whiteSmoke: #F2F2F2;
