@import "../../../../../variables.less";

.root {
  padding: 12px 15px 15px 14px;
  border-bottom: 1px solid @borderColor;
}

.breadcrumbs {
  margin-bottom: 6px;
}

.h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 0 8px;
  font-size: 26px;
  line-height: 1.06;
}

.description {
  font-size: 14px;
  line-height: 20px;
  color: #333;
  margin: 16px 0;
}

.progressBarWrapper {
  width: 75%;
  margin-bottom: 11px;
}


@media (min-width: @maxLaptopWidth) {
  .root {
    padding: 19px 17px 21px 23px;
  }

  .h1 {
    margin: 0 0 16px;
    font-size: 32px;
  }
}